<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>main page</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row3">
	  <div id="featured_slide"> 
	    <ol>
	      <li>
	        <h2><span>Slide 1</span></h2>
	        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
	      </li>
	      <li>
	        <h2><span>Slide 2</span></h2>
	        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
	      </li>
	      <li>
	        <h2><span>Slide 3</span></h2>
	        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
	      </li>
	      <li>
	        <h2><span>Slide 4</span></h2>
	        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
	      </li>
	      <li>
	        <h2><span>Slide 5</span></h2>
	        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
	      </li>
	    </ol>
	  </div>
	</div>
	<div class="wrapper row4">
	  <div id="container" class="clear"> 
	    <div id="homepage" class="clear">
	      <div class="fl_left">
	        <h3 class="title"><a href="#">개강교육과정</a></h3>
	        <div id="hpage_quicklinks">
	          <ul class="clear">
	            <li><a href="#">Academic departments</a></li>
	            <li><a href="#">Alumni</a></li>
	            <li><a href="#">Business &amp; Enterprise</a></li>
	            <li><a href="#">Departments A-Z</a></li>
	            <li><a href="#">Events</a></li>
	            <li><a href="#">Graduate Courses</a></li>
	            <li><a href="#">International Students</a></li>
	            <li><a href="#">Job opportunities</a></li>
	            <li><a href="#">Lifelong Learning</a></li>
	            <li><a href="#">Maps and Directions</a></li>
	            <li><a href="#">Online Courses</a></li>
	            <li><a href="#">Parents</a></li>
	            <li><a href="#">Postgraduate research</a></li>
	            <li><a href="#">Postgraduate taught</a></li>
	            <li><a href="#">Prospective Students</a></li>
	            <li><a href="#">Research</a></li>
	            <li><a href="#">Students</a></li>
	            <li><a href="#">Teaching &amp; Learning</a></li>
	            <li><a href="#">Undergraduate Courses</a></li>
	            <li><a href="#">Videos</a></li>
	            <li><a href="#">Visiting the University</a></li>
	            <li><a href="#">What's On</a></li>
	          </ul>
	        </div>
	        <h2 class="title"><a th:href="@{/moveVideoLecture}">디지털비즈니스센터-동영상강의</a></h2>
	        <div id="hpage_gallery">
	          <ul class="clear">
	            <li><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
	            <li class="last"><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
	            <li><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
	            <li class="last"><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
	          </ul>
	        </div>
	      </div>
	      <div class="fl_right">
	        <h2 class="title">협회 최신뉴스</h2>
	        <div id="hpage_latestnews">
	          <ul>
	            <li>
	              <div class="imgl"><img src="images/demo/160x80.gif" alt="" /></div>
	              <p class="latestnews">This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>.</p>
	              <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	            </li>
	            <li>
	              <div class="imgl"><img src="images/demo/160x80.gif" alt="" /></div>
	              <p class="latestnews">You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
	              <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	            </li>
	            <li class="last">
	              <div class="imgl"><img src="images/demo/160x80.gif" alt="" /></div>
	              <p class="latestnews">Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis. Maecenaset adipiscinia tellentum nullam velit et a convallis curabitae vitae laoreet niseros ligula sem sed susp en at.</p>
	              <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	            </li>
	          </ul>
	        </div>
	        <div id="hpage_specials" class="clear">
	          <ul>
	            <li>
	              <h2 class="title">Virtual Tour</h2>
	              <div class="box">
	                <div class="imgholder"><img src="images/demo/160x160.gif" alt="" /></div>
	                <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis molesuada amet. Tricessem faucibulum sit sed eleifendisse accumsan justo in tor vel purus.</p>
	                <p class="readmore"><a href="#">Take The Tour &raquo;</a></p>
	              </div>
	            </li>
	            <li>
	              <h2 class="title">Sporting Activities</h2>
	              <div class="box">
	                <p><strong>Jan 01:</strong> <a href="#">Rugby</a></p>
	                <div class="imgholder"><img src="images/demo/160x80.gif" alt="" /></div>
	                <p>Vestassapede et donec ut est liberos sus et eget sed eget.</p>
	              </div>
	              <div class="box">
	                <p><strong>Jan 06:</strong> <a href="#">Volleyball</a></p>
	                <div class="imgholder"><img src="images/demo/160x80.gif" alt="" /></div>
	                <p>Vestassapede et donec ut est liberos sus et eget sed eget.</p>
	              </div>
	            </li>
	            <li class="last">
	              <h2 class="title">Upcoming Events</h2>
	              <div class="box">
	                <p><a href="#">Magna phasellus</a></p>
	                <p>Monday 21st January</p>
	                <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.</p>
	              </div>
	              <div class="box">
	                <p><a href="#">Sentumquisque morbi dui congue tincidunt eu quis</a></p>
	                <p>Monday 21st January</p>
	                <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant.</p>
	              </div>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<!-- content end --> 
