<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
<head>
<title>moveIntroduceOrganization</title>
</head>
<div layout:fragment="content">
<div style="text-align: center; ">
	<img alt="" src="images/demo/kosta1.gif" width=100% height="280px">
	<nav>
		<h2>여러분의 소프트웨어 역량개발 파트너, KOSTA가 함께 합니다.</h2>
		<div><p style="color: red; font-size: 18px">국내 유일의 SW역량 One-Stop 서비스 기관</p></div>
		<div><p>구인채용 - 교육훈련 - 시험인증 - 역략진단평가</div>
	</nav>
	
	<div>
		<a href="javascript:window.scrollTo( 0, 550 );">aaa</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 750 );">bbb</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 950 );">ccc</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 1150 );">ddd</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 1350 );">eee</a>
	</div>
	<article>
	<div>
		<h1 style="text-align: left; padding-left: 20%">인삿말</h1>
		<img alt="" src="images/demo/kosta1.gif" width=60% height="280px">
	</div>
	</article>
	
</div>
	
</div>
