<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
<head>
<title>moveIntroduceOrganization</title>
</head>
<body id="top">
<div layout:fragment="content">
<div class="wrapper row4">
<div style="text-align: center; ">
	<img alt="" src="images/kosta1.gif" width=100% height="280px">
	<nav style="padding-top: 20px; padding-bottom: 10px;">
		<h2>여러분의 소프트웨어 역량개발 파트너, KOSTA가 함께 합니다.</h2>
		<div><p style="color: red; font-size: 18px">국내 유일의 SW역량 One-Stop 서비스 기관</p></div>
		<div><p>구인채용 - 교육훈련 - 시험인증 - 역략진단평가</div>
	</nav>
	<div>
	<header style="position: fixed; width: 100%; height: 50px; text-align: center;">
		<a href="javascript:window.scrollTo( 0, 550 );"  style="font-size: 25px; padding: 10px">aaa</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 1050 );"  style="font-size: 25px; padding: 10px">bbb</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 1650 );"  style="font-size: 25px; padding: 10px">ccc</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 2050 );"  style="font-size: 25px; padding: 10px">ddd</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 2350 );"  style="font-size: 25px; padding: 10px">eee</a>
		&nbsp
		<a href="javascript:window.scrollTo( 0, 2550 );"  style="font-size: 25px; padding: 10px">fff</a>
	</header>
	</div>
	<article>
	<div style="text-align: center;">
		<h1>☆인삿말</h1>
		<div style="text-align: center;">
		<pre  style="text-align:left; white-space: pre-wrap;  border-style: solid; width: 60%" >
			오늘날 세계경제는 소프트화, 스마트화를 무기로 하는 무한 경쟁 체제라 할 수 있습니다.
			즉, 소프트웨어(Software) 역량을 키우지 않고는 치열한 글로벌 경쟁에서 생존하기 어렵습니다. 우리 산업이 세계시장에서 경쟁하기 위해서는 SW부분에서 우수한 인력을 양성
			하고, 품질, 생산성, 프로젝트 성공률 등에서 글로벌 수준의 역량을 갖추어야 합니다.
			
			이제 제 4차 산업혁명 시대를 맞아 우리 기업은 그로벌 SW역량을 확보하기 위한 'SW 인천상륙 작전'을 실현하여 소프트웨어 기업으로서 변모하여야 합니다.
			
			이런 제 4차 산업혁명과 인더스트리 4.0의 성패는 수요 맞춤을 통해 고객의 고객까지를 만족시키는 SW플랫폼 및 핵심기술의 SW융합이 필수적이며 이를 위해서는 SW공학과 체계적인 재사용(SSPL : Software & System Product Line) 역량을 확보해야만 합니다.
			
			
			이와 함께 포스트-코로나 뉴노멀 시대에 기업의 생존은 디지털 기업으로의 전환 여부에 달려 있으며, 이의 성공적 추진을 위한 핵심요소가 회사의 SW역량입니다.
			이에 디지털 혁신의 성공에 필요한 글로벌 일류 수준의 SW역량을 확보할 수 있도록, SW인재 양성 및 관리 실천 방안의 수립과 실천이 필수적이라 하겠습니다.
			
			한국소프트웨어기술진흥협회는 국내 최대의 SW기술 진흥 전문단체로서 SW 기술 고도화, SW 글로벌화, SW 인재 양성을 비전으로 회원사와 더불어 'SW 중심의 IT'를 구현하는 중추
			기관으로서의 역할을 담당하고 있습니다.
			
			이러한 일에 한국 소프트웨어기술진흥협회가 여러분과 함께 할 것입니다.
			여러분의 지속적인 성원을 부탁드립니다.
			감사합니다.
		</pre>
		<span>한국소프트웨어기술진흥협회 회장 이단형, 박준성</span>
		</div>
	</div>
	<div>
		<img alt="" src="images/인사말.gif" width=60% height="280px">
	</div>
	<div>
		<h1 style="text-align: left; padding-left: 20%">비전</h1>
		<img alt="" src="images/비전1.gif" width=60% height="280px">
	</div>
	<div>
		<img alt="" src="images/비전2.gif" width=60% height="280px">
	</div>
	<div>
		<h1 style="text-align: left; padding-left: 20%">연혁</h1>
		<img alt="" src="images/연혁1.gif" width=60% height="280px">
	</div>
	<div>
		<img alt="" src="images/연혁2.gif" width=60% height="280px">
	</div>
	<div>
		<h1 style="text-align: left; padding-left: 20%">조직도</h1>
		<img alt="" src="images/조직도.gif" width=60% height="280px">
	</div>
	<div>
		<h1 style="text-align: left; padding-left: 20%">사업 및 활동</h1>
		<img alt="" src="images/사업 및 활동.gif" width=60% height="280px">
	</div>
	</article>
	
</div>
</div>
</div>
</body>
