<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Style Demo</title>
</head>
<!-- content start -->
<div layout:fragment="content">
  <div class="img-set">
	<img class="img-size" src="images/구인·구직.PNG">
  </div>
  <div class="wrapper row4">
    <div id="container" class="clear"> 
    <div class="span-set">
      <div>
        <span class="span-style2">디지털 혁신을 주도할 SW인재 채용 및 취업 지원</span><br>
        <span class="span-style">글로벌 SW역량 표준에 따른 Full-stack, End-to-End 등의 교육을 받은</span>
        <span class="span-color span-style">750명의 우수한 개발자에 대한 채용 기회 제공</span><br>
        <span class="span-style">수료 후 대기업, 공기업, 우수 중견 중소 기업에</span>
      <span class="span-color span-style">3개월 내 100% 취업 목표</span>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- content end --> 
