<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
	
	<img alt="컨설팅배너" src="images/컨설팅배너.png" style="width: 1900px;">
	
	<div id="container" class="clear"> 
      <div style="font-size: 20px; font-family: sans-serif; color: black; text-align: center; padding-bottom: 20px; padding-top: 10px;">
         <span style="font-weight: bold;">국내에서 유일하게 제4차 산업혁명의 기업 핵심 경쟁력인 다품종 대량맞춤 생산 (Masscustomization) 능력을 실현하는 SW플랫폼 개발의 현장적용을 자문해 드립니다.<br><br>
         </span>         
         
      </div><br>
      <hr><br><br><br>
      
      <div class="clear">
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">소프트웨어 플랫폼 개발 엔지니어링 - SSPL(Software &amp; System Product Line)의 현장적용 교육훈련 및 컨설팅</h1>
          <br><br>
      </div>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">제4차 산업혁명, IoT의 핵심역량인 다품종 대량맞춤 생산을 위한 SW플랫폼 개발을 실현 시켜드립니다.</h3>
        <br>   
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">SSPL에 대한 정보&middot;자료 또는 PILOT개발 수행을 원하는 기업은 연락 주시기 바랍니다.</h3>
      </div>
      
      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">SSPL(Software &amp; System Product Line Engineering)이란?</h1>
          <br><br>
      </div>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">소프트웨어를 필요로 하는 모든 시스템 개발에서 공통적으로 활용하고 다양한 소프트웨어를 개발하는데 효과적인 패러다임으로서 제품군에 대한 명확한 분석을 통한 포트폴리오 구성(SSPL Scoping) 및 요구 사항 분석, 공통적인 요소(공통성)와 가변적인 요소(가변성)를 구별하여 자산화하고 플랫폼으로 체계화함으로써 시스템 및 소프트웨어 자산의 체계적인 재사용 및 다양한 자동화 도구 활용을 가능케하여 제품과 서비스의 차별화/지능화, 개발기간 단축(짧은 개발기간), 개발 비용 절감(적은 비용), 품질 향상 등의 목표를 달성하면서 고객맞춤의 대량생산을 가능케 하는 21C 선진 생산방식임. EU가 자동차, 항공기, 의료기기, 통신기기 등의 산업분야에서 글로벌 경쟁력을 확보하는데 있어 핵심역할을 한 소프트웨어를 개발하는 데 적용한 기술로서 1990년대 초부터 EU의 핵심 SW RD과제로 추진되어 오고 있으며 보쉬, 에어버스, 지멘스, 필립스, 탈레스, 노키아, 에릭슨, 보잉 등 100개 이상의 전세계 주요기업이 SW경쟁력 확보기술로 발전시키면서 ISO를 중심으로 세계 표준화가 이루어지고 있음.</h3>
        <br> <br>  <br>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">1. SSPL 포럼 운영 <br><br>
        · 한국소프트웨어기술진흥협회에서는 SSPL 기술에 대해 정보를 제공, 보급하기 위해 지난 2011년 9월 CTO 및 기술임원으로 구성된 공동 스터디 그룹을 구성하여 총 33회의 워크삽을 개최, 60개가 넘는 SSPL 주제에 대한 발표와 Q&A, 토론을 진행하여 그결과를 SSPL 이해와 적용전략이라는 책자를 발간하였음. <br>
        · 현재는 SSPL을 도입하고자 하는 기업을 발굴하여 적용 실천계획의 수립부터 실천내용에 대해 정기적으로 진행실적을 검토하고 단계별 추진계획을 공동으로 수립, 점검해가는 활동을 수행 중
        </h3>
      </div>
      
      <br><br><br>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">2. SSPL 핵심 5개 영역 <br><br>
        </h3>
      </div>
      
      <br><br><br>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">3. SSPL 인프라 기술구조 <br><br>
        </h3>
      </div>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">4. SSPL 원천 기술요소 <br><br>
        </h3>
      </div>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">5. SSPL 소개책자 <br><br>
        </h3>
      </div>
      
      <br><br><br>
      
      </div>
      
    </div>
	
	</div>	
</div>
<!-- content end -->
