<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
	
	<img alt="컨설팅배너" src="images/컨설팅배너.png" style="width: 1900px;">
	
	<div id="container" class="clear"> 
      <div style="font-size: 20px; font-family: sans-serif; color: black; text-align: center; padding-bottom: 20px; padding-top: 10px;">
         <span style="font-weight: bold;">국내에서 유일하게 제4차 산업혁명의 기업 핵심 경쟁력인 다품종 대량맞춤 생산 (Masscustomization) 능력을 실현하는 SW플랫폼 개발의 현장적용을 자문해 드립니다.<br><br>
         </span>         
         
      </div><br>
      <hr><br>
      
      <div class="clear"></div>
    </div>
	
	</div>	
</div>
<!-- content end -->
