<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<img alt="컨설팅배너" src="images/컨설팅배너.png" style="width: 1900px;">
	
	
	<div id="container" class="clear"> 
      <div style="font-size: 20px; font-family: sans-serif; color: black; text-align: center; padding-bottom: 20px; padding-top: 10px;">
         <span style="font-weight: bold;">자사 직원의 역량을 개발하지 않고 프로젝트를 외주 인력을 중심으로 개발하는 기업은 SW사업에서 성공할 수 없다.<br><br>
         </span>         
         
      </div><br>
      <hr><br>
      
      <div class="clear">
      <div class="span-set">
        <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">개요</h1>
          <br><br>
      </div>
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">표준 역량 프레임워크 기반으로 전사 SW 인재관리가 가능하도록 어쩌고저쩌고 ㅡㅡ </h3>
        <br>   
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">주니어 개발자SW개발 프로세스 어쩌고 저쩌고 ㅡㅡ</h3>
      </div>
      
      </div>
    </div>
	
	</div>	
</div>
<!-- content end -->
