<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<img alt="컨설팅배너" src="images/컨설팅배너.png" style="width: 1900px;">
	
	
	<div id="container" class="clear"> 
      <div style="font-size: 20px; font-family: sans-serif; color: black; text-align: center; padding-bottom: 20px; padding-top: 10px;">
         <span style="font-weight: bold;">자사 직원의 역량을 개발하지 않고 프로젝트를 외주 인력을 중심으로 개발하는 기업은 SW사업에서 성공할 수 없다.<br><br>
         </span>         
         
      </div><br>
      <hr><br>
      
      <div class="clear">
      <div class="span-set">
        <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">개요</h1>
          <br><br>
      </div>
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">표준 역량 프레임워크 기반으로 전사 SW 인재관리가 가능하도록 어쩌고저쩌고 ㅡㅡ </h3>
        <br>   
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">주니어 개발자SW개발 프로세스 어쩌고 저쩌고 ㅡㅡ</h3>
      </div>
      
      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">컨설팅 프로세스 및 활동 내용</h1>
          <br><br>
      </div>
      
      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">컨설팅 프로세스/활동별 산출물(예시)</h1>
          <br><br>
      </div>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">1. 조직의 SW개발 프로세스 파악 및 분석</h3>
        <br><br>
        
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">2. SW개발 활동 현황 조사 및 수준 분석</h3>
        <br><br>
        
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">3. SW직무/직급별 표준 역량 정의</h3>
        <br><br>
        
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">4. 직무/직급별 훈련 및 능력인증 로드맵 수립</h3>
        <br><br>
        
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">5. SW인재관리 모델에 기반한 인력관리 방안 자문 및 제안</h3>
        <br><br>
      </div>
      
      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">SW개발 프로세스의 구성요소와 참조모델</h1>
          <br><br>
      </div>
      
      <div>
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">표준 직무/직급 정의 <br>
        · Unified Process 및 SAFe 참조 <br>
        · 분석자 어쩌고 저쩌고 <br>
        · 각 직무를 어쩌고 저쩌고 <br> </h3>
        
        
        <br><br>
        
        <img class="img-set" src="images/화살표.png">
        <h3 class="icon">SW개발 표준프로세스 정의<br>
        · SPEM 2.0 표준 참조 어쩌고저쩌고 <br> </h3>
        <br><br>        
      </div>
      

      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">SW개발 활동별 글로벌 표준 기법 및 Tool선정</h1>
          <br><br>
      </div>
      
      <div>
      <h3 class="icon">
      · SW요구분석의 강조와~~ <br>
      · 객체 설계 원칙과 ~~ <br>
      · 반복점증적 개발 ~~ <br>
      · 각 활동의 실행 가이드 ~~ <br>
      · 각 활동의 표준 산출물을 정의 ~~ <br>
      · 선정된 기법의 ~~ <br> </h3>
      </div>
      
      
      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">SW 역량모델 기반으로 직무/직급별 활동의 필요역량 정의</h1>
          <br><br>
      </div>
      
      <div>
      <h3 class="icon">
      · 역량은 특정 활동을 수행하는데 필요한 ~~ <br>
      · 스킬은 특정 기법/ ~~ <br>
      · 역량정의 템플릿 활용 ~~ <br> </h3>
      </div>
      
      <br><br><br>
      
      <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">문의처</h1>
          <br><br>
      </div>
      
      <div>
		<img class="img-set" src="images/화살표.png">
        <h3 class="icon">한국SW기술진흥협회 기술기획정책팀 정석진 팀장 / sjjung@kosta.or.kr / 031-606-9302</h3><br>
      </div>
      
      
      
      </div>
    </div>
	
	</div>	
</div>
<!-- content end -->
