<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>TestAuthentication</title>
</head>
<!-- content start -->
<div layout:fragment="content">

	<div class="wrapper row4">
		<div id="container" class="clear">
			<div class="span-set"></div>
			<div>
				<div class="text-table ">
					<div>
						<p style="text-align: center; line-height: 2;">
							<span style="color: rgb(34, 34, 34);">
							<span
								style="font-size: 30px; font-weight: 400;">귀사에서는 역량이 검증된 직원 만이 그 활동, 그 역할을 하고 있습니까?</span></span>
								<span
								style="color: rgb(148, 45, 51);"><span
								style="font-size: 30px; font-weight: 400;"></span></span>
						</p>
						<p style="text-align: center;">
							<br>
						</p>
						<p style="text-align: center; line-height: 2;">
							<span style="font-size: 20px;">SW사업의 가장 기본적인 경영 원칙은 <br>역량을
								인증 받은 직원만 SW프로젝트에 투입하는 것이다. 병원의 의사처럼&middot;&middot;&middot;&nbsp;
							</span>
						</p>
						<p style="text-align: center; line-height: 1;">
							<span style="font-size: 15px;">- SW역량 강화 5단계 추진방법, 박준성 -</span>
						</p>
						<hr>
					</div>
				</div>
			</div>
			<span style="font-size: 17px; font-weight:50;">KOSTA 역량 인증 로드맵</span> <br><br><br><br><br>
			<span style="font-size: 17px; font-weight:50;">SW 개발자 인증</span> <br><br><br>
			<div style="float: left; font-size: 15px; font-weight:50;">주니어개발자</div> 
			<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>

			<table border="1">
				<thead>
					<tr bgcolor="pink">
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">165</th>
						<td style="text-align:center">210</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">Front-end</th>
						<td>HTML(초),CSS(초),JavaScript,Bootstrap(중), React / Matirial UI(선택 Vue.js / Vuetify)(중)</td>
						<td align="center">30</td>
						<td rowspan="3" style="vertical-align:middle; text-align:center">90</td>
					</tr>
					<tr>
						<th align="center" scope="row">API</th>
						<td>REST(중)</td>
						<td align="center">10</td>
					</tr>
					<tr>
						<th align="center" scope="row">Back-end</th>
						<td>Java (중), Spring (중), Security(중), TDD(Junit, Mocha)(중)</td>
						<td align="center">30</td>
					</tr>
					<tr>
						<th align="center" scope="row">Database</th>
						<td>SQL(중), JDBC(중), JPA/Hibernate(중), MongoDB(중)</td>
						<td align="center">25</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">70</td>

					</tr>
					<tr>
						<th align="center" scope="row">Tools / Infra</th>
						<td>Git/GitHub(초), IntelliJ(초), Build(Maven/Gradle)(초), Web server (apache, nginx, tomcat)(중), Docker(중), Kubernetes(중), AWS(중)</td>
						<td align="center">30</td>

					</tr>
					<tr>
						<th align="center" scope="row">SW Engineering</th>
						<td>BPM(BPMN)(초), Data Modeling (UML Class Diagram)(중), Use
							Case Analysis(중), Object Design Patterns(중), aRefactoring(중), DB
							Design(중), Scrum(Jira)(중), SOA Design(중), EA(ArchiMate)(중)</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">40</td>
						<td style="vertical-align:middle; text-align:center">50</td>
					</tr>
				</tbody>
			</table><br><br>
<!-- -------------------------------------------------------- 주니어 개발자 1 table end ------------------------------------------------------ -->
		<div style="float: left; font-size: 15px; font-weight:50;">시니어개발자</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>
	<table border="1">
				<thead>
					<tr >
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">165</th>
						<td style="text-align:center">240</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">Front-end</th>
						<td>HTML(중/고), CSS(중/고), JavaScript(고), Bootstrap(고), React / Matirial UI(선택 Vue.js / Vuetify)(고)</td>
						<td align="center">30</td>
						<td rowspan="3" style="vertical-align:middle; text-align: center;">100</td>
					</tr>
					<tr>
						<th align="center" scope="row">API</th>
						<td>REST(중)</td>
						<td align="center">10</td>
					</tr>
					<tr>
						<th align="center" scope="row">Back-end</th>
						<td>Java(고), Spring(고), Security(고), TDD(Junit, Mocha)(중/고)</td>
						<td align="center">30</td>
					</tr>
					<tr>
						<th align="center" scope="row">Database</th>
						<td>DB Design(고), SQL(고), JPA/Hibernate(중/고), Physical DB Tuning(고), DBA(고), MongoDB(중/고)</td>
						<td align="center">25</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">80</td>

					</tr>
					<tr>
						<th align="center" scope="row">Tools / Infra</th>
						<td>Git/GitHub, Jenkins/Gitlab활용한 CI/CD와 DevOps(중/고), Web server (apache, nginx, tomcat)(중/고), Docker(고), Kubernetes(고), AWS(고)</td>
						<td align="center">30</td>

					</tr>
					<tr>
						<th align="center" scope="row">SW Engineering</th>
						<td>BPM(BPMN)(중/고), Data Modeling (UML Class Diagram)(중/고), Use Case Analysis(중/고), 
						Object Design Patterns(고), Refactoring(고), Scrum(Jira)(고), SOA Design(고), EA(ArchiMate)(고)</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">40</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">60</td>
					</tr>
				</tbody>
			</table><br><br>
<!-- -------------------------------------------------------- 시니어 개발자 2 table end ------------------------------------------------------ -->		

		<span style="font-size: 17px; font-weight:50;">비즈니스 분석자(Business Analyst) 인증</span> <br><br>		
		<div style="float: left; font-size: 15px; font-weight:50;">Associate 비즈니스 분석자</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>		
		
		
		<table border="1">
				<thead>
					<tr bgcolor="pink">
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">99</th>
						<td style="text-align:center">180</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">비즈니스 프로세스 설계</th>
						<td>비즈니스 프로세스의 원리 이해, 비즈니스 프로세스 모델링의 현장 적용, BPMN 기반 개념적 프로세스 모델링 문법과 패턴, 
						개념적 프로세스 모델링 절차 및 실습, 개념적 프로세스 모델링 프로젝트 데모.</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">비즈니스 데이터 설계</th>
						<td>비즈니스 애플리케이션 개발 프로세스와 데이터 설계, UML Class Diagram 기반의 개념적 데이터 모델링, Class Diagram과 ER Diagram 간 변환규칙, 개념적 데이터 모델링 사례, 
						Visual Paradigm을 이용한 개념적 데이터 모델링 실습, 개념적 데이터 모델의 논리적 RDB 스키마 변환 알고리즘, Visual Paradigm을 이용한 데이터베이스 설계 실습.</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">비즈니스 사용사례 분석 및 구현</th>
						<td>사용사례 도출 (Use Case Identification), 사용사례 시나리오 작성 (Use Case Scenario Analysis).</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
				
				</tbody>
			</table><br><br>
		
<!-- -------------------------------------------------------- Associate 비즈니스 분석자 3 table end ------------------------------------------------------ -->

		<div style="float: left; font-size: 15px; font-weight:50;">Professional 비즈니스 분석자</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>		
		
					<table border="1">
				<thead>
					<tr>
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">152</th>
						<td style="text-align:center">270</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">비즈니스 모델링</th>
						<td>Design Thinking을 통한 고객 중심의 Business Modeling, 비즈니스 전략 수립과 Enterprise Architecture 설계, 비즈니스 요구 분석, 
						SW 요구스펙 분석, SW아키텍처 설계, Lean Startup과 Agile 개발.</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">비즈니스 프로세스 설계</th>
						<td>비즈니스 프로세스 리엔지니어링 (BPR) 방법론과 패턴, 비즈니스 프로세스 이벤트의 이해, 물리적 비즈니스 프로세스 모델링의 패턴, 4차산업 혁명 디지털 비즈니스의 프로세스 모델링 사례,
						 BPM플랫폼의 발전추세와 Low-Code 개발 플랫폼, 물리적 프로세스 모델링 프로젝트 데모, 물리적 프로세스 모델링 실습.</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">비즈니스 데이터 설계</th>
						<td>Relational 데이터 모델, Dependency Theory와 Normal Forms, Data Warehouse 구축을 위한 다차원 데이터 모델링과 Snowflake 스키마 설계, 
						EAV 데이터모델과 NoSQL 데이터베이스 설계.</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">비즈니스의 사용사례 분석 및 구현</th>
						<td>사용사례 구현 (Use Case Realization), 애자일 SW요구분석 프로세스 (Agile Business Analysis Process), Business Analysis Capstone Project (Sprint 4차 시행).</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">90</td>
					</tr>
					<tr>
						<th align="center" scope="row">SOA와 마이크로 서비스 설계 패턴과 방법론</th>
						<td>SW아키텍처의 이해, SOA 설계원칙과 패턴, SOA 기술의 진화, SOA 분석 설계 방법론)</td>
						<td style="vertical-align:middle; text-align:center">20</td>
					</tr>
				</tbody>
			</table><br><br>
			
			
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 발표 및 인터뷰</div> <br><br>				
			<table border="1">
				<thead>
					<tr>
						<th width="200" height="5" scope="col">주제</th>
						<th width="500" scope="col">내용</th>
						<th width="54033"colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th align="center" scope="row"  width="900" height="50">비즈니스모델링, 프로세스 설계, 데이터 설계, 사용사례 분석/구현, 객체지향 프로그램의 디자인 패턴, SOA/MSA 설계 패턴 및 방법론</th>
						<td align="center" width="800" height="30">프로젝트 프로파일 작성 및 발표,  전문가 질의 응답 (실기 포함)</td>
						<td style="vertical-align:middle; text-align:center">40</td>
					</tr>
				</tbody>
			</table><br><br>
			
		
<!-- --------------------------------------------------------Professional 비즈니스 분석자 4 table end ------------------------------------------------------ -->		

		<span style="font-size: 17px; font-weight:50;">소프트웨어 아키텍트 인증</span> <br><br>
		<div style="float: left; font-size: 15px; font-weight:50;">Associate SW 아키텍트</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>		
		
					<table border="1">
				<thead>
					<tr>
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">106</th>
						<td style="text-align:center">180</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">Requirements Engineering</th>
						<td>Process Modeling using BPMN 2.0, Data Modeling using UML Conceptual-Level Class Diagram, Use Case Analysis and Scenario Writing using Visual Paradigm, 
						Use Case Realization, Domain Modeling and Sequence Diagram</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">90</td>
					</tr>
					<tr>
						<th align="center" scope="row">Object-Oriented Analysis &#38; Design</th>
						<td>Object-Oriented Analysis &#38; Design Principles, Design Patterns</td>
						<td  style="vertical-align:middle; text-align:center">20</td>
					</tr>
					<tr>
						<th align="center" scope="row">Agile Software Engineering Process,  Methodologies &#38; DDD Etc.</th>
						<td>Design Thinking, Persona and Customer Journey Map, Business Architecture and ArchiMate, SPEM 2.0, RUP / OpenUP, Lean Startup, Scrum and SAFe, Extreme Programming: TDD,
						 Refactoring and CI, Cloud-Native Application, CD and DevOps, Domain-Driven Design(DDD): Bounded Context &#38; DDD Process, Refactoring &#38; Clean Code</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">90</td>
					</tr>
					<tr>
						<th align="center" scope="row">Software Architecture Process</th>
						<td>Quality Attribute Utility Tree, Attribute-Driven Design (ADD 3.0), RUP 4+1 View Model, Design Concepts Catalog, Architecture Analysis &#38; Evaluation, Evolutionary Architecture</td>
						<td style="vertical-align:middle; text-align:center">20</td>
					</tr>
				</tbody>
			</table>
		
<!-- --------------------------------------------------------Associate SW 아키텍트 5 table end ------------------------------------------------------ -->
		
		<div style="float: left; font-size: 15px; font-weight:50;">Professional SW 아키텍트</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>		
		
					<table border="1">
				<thead>
					<tr>
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">115</th>
						<td style="text-align:center">200</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">Software Architecture Documentation</th>
						<td>IEEE 1471, SEI Views and Beyond Model, Confluence Software Architecture Documentation (SAD)</td>
						<td  style="vertical-align:middle; text-align:center">20</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">70</td>
					</tr>
					<tr>
						<th align="center" scope="row">Software Architecture Styles</th>
						<td>Layered Style, Pipe &#38; Filter Style, Batch Sequential Style, Repository Style, Publish &#38; Subscribe Style, Peer-to-Peer Style</td>
						<td  style="vertical-align:middle; text-align:center">25</td>
					</tr>
					<tr>
						<th align="center" scope="row">SOA Design Principles and Patterns</th>
						<td>Client-Server Architecture, Web Application Architecture, Service-Oriented Architecture (SOA), Cloud Service Architecture, Microservice Architecture, AI/IoT Application Architecture</td>
						<td  style="vertical-align:middle; text-align:center">25</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">90</td>
					</tr>
					<tr>
						<th align="center" scope="row">SOA Analysis and Design Process and Methodologies</th>
						<td>Business Architecture Analysis, Process Decomposition, Use Case-Class Affinity Clustering, Bounded Contexts in Domain Model, Service Architecture Design using SoaML, API Design</td>
						<td  style="vertical-align:middle; text-align:center">25</td>
					</tr>
					<tr>
						<th align="center" scope="row">Microservices Architecture Design Principles and Patterns</th>
						<td>Macro, Mini, Micro, and Nano Service, Microservice Prerequisites, Microservices Architecture Patterns</td>
						<td  style="vertical-align:middle; text-align:center">25</td>
						<td style="vertical-align:middle; text-align:center">40</td>
					</tr>
				</tbody>
			</table><br>
			
			<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 발표 및 인터뷰</div> <br><br>	

			<table border="1">
				<thead>
					<tr>
						<th width="200" height="5" scope="col">주제</th>
						<th width="500" scope="col">내용</th>
						<th width="54033"colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th align="center" scope="row"  width="900" height="50">Requirements Engineering, Object-Oriented Analysis &#38; Design, Agile Software Engineering Process &#38; Methodologies, 
						Software Architecture Process, Software Architecture Documentation, Software Architecture Styles, SOA Design Principles and Patterns, SOA Analysis and Design Process and Methodologies, Microservices Architecture  Design Principles and Patterns</th>
						<td align="center" width="800" height="30">프로젝트 프로파일 작성 및 발표, 전문가 질의 응답 (실기포함)</td>
						<td style="vertical-align:middle; text-align:center">40</td>
					</tr>
				</tbody>
			</table><br><br>
			
		
<!-- -------------------------------------------------------- Professional SW 아키텍트 6 table end ------------------------------------------------------ -->		

		<span style="font-size: 17px; font-weight:50;">시스템 아키텍트 인증</span> <br><br>	
		<div style="float: left; font-size: 15px; font-weight:50;">Associate 시스템 아키텍트</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>		
		
					<table border="1">
				<thead>
					<tr>
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">80</th>
						<td style="text-align:center">140</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">Requirements Engineering</th>
						<td>Needs Analysis, Requirements Analysis</td>
						<td style="vertical-align:middle; text-align:center">20</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">70</td>
					</tr>
					<tr>
						<th align="center" scope="row">SysML</th>
						<td>Diagrams, Modeling with SysML Diagrams</td>
						<td style="vertical-align:middle; text-align:center">20</td>
					</tr>
					<tr>
						<th align="center" scope="row">Model-Based System Engineering (MBSE)</th>
						<td>MBSE Overview, Modeling Tools and  Environment</td>
						<td style="vertical-align:middle; text-align:center">20</td>
						<td rowspan="2" style="vertical-align:middle; text-align:center">70</td>
					</tr>
					<tr>
						<th align="center" scope="row">Making Decisions and Evaluations</th>
						<td>Decision Analysis and Support, Evaluation and Selection</td>
						<td style="vertical-align:middle; text-align:center">20</td>

					</tr>
				</tbody>
			</table><br><br>
		
<!-- --------------------------------------------------------Associate 시스템 아키텍트 7 table end ------------------------------------------------------ -->		

		<div style="float: left; font-size: 15px; font-weight:50;">Professional 시스템 아키텍트</div> 
		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 필기시험 (객관식/주관식)</div> <br><br>		
		
					<table border="1">
				<thead>
					<tr>
						<th width="180" scope="col">주제</th>
						<th width="1000" scope="col">과목</th>
						<th scope="col">문제수</th>
						<th colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
					<th scope="row"></th>
						<td style="text-align:center">합계</td>
						<th style="text-align:center">99</th>
						<td style="text-align:center">180</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th align="center" scope="row">System Engineering &#38; System Architecture Design</th>
						<td>Process, Functional Analysis, Evaluating and Selecting the System Concept, Systems Architecting</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">Engineering Development</th>
						<td>Advanced Development, Engineering Design, Systems Integration, Test and Evaluation, Production, OOSEM</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
					<tr>
						<th align="center" scope="row">System Architecture Modeling using SysML &#38; Rhapsody</th>
						<td>Designing &#38; Validating System Architecture Exercise : 프로젝트 결정, 요구사항 명세, 아키텍처 설계 문제 분석, 아키텍처 설계, 아키텍처 분석 및 평가</td>
						<td style="vertical-align:middle; text-align:center">33</td>
						<td style="vertical-align:middle; text-align:center">60</td>
					</tr>
				</tbody>
			</table><br><br>
		
<!-- -------------------------------------------------------- Professional 시스템 아키텍트 8 table end ------------------------------------------------------ -->		

		<div style="float: right; font-size: 9px; font-weight:50; text-align: right;">*시험방법 : 발표 및 인터뷰</div> <br><br>	

			<table border="1">
				<thead>
					<tr>
						<th width="200" height="5" scope="col">주제</th>
						<th width="500" scope="col">내용</th>
						<th width="54033"colspan="3" scope="col">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th align="center" scope="row"  width="900" height="50">Requirements Engineering, SysML, Model-Based System Engineering (MBSE), Making Decisions and Evaluations, 
						System Engineering &#38; System Architecture Design, Engineering Development, System Architecture Modeling using SysML &#38; Rhapsody</th>
						<td align="center" width="800" height="30">프로젝트 프로파일 작성 및 발표, 전문가 질의 응답 (실기포함)</td>
						<td style="vertical-align:middle; text-align:center">40</td>
					</tr>
				</tbody>
			</table><br><br>
<!-- -------------------------------------------------------- 9 table end ------------------------------------------------------ -->		
		<span style="font-size: 17px; font-weight:50;">문의처</span> <br><br><br>
		<span style="font-size: 15px; font-weight:50;">한국SW기술진흥협회 기술기획정책팀 정석진 팀장 / sjjung@kosta.or.kr / 031-606-9302</span> <br><br>



		</div>
	</div>
</div>
<!-- content end -->