<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>TestAuthentication</title>
</head>
<!-- content start -->
<div layout:fragment="content">

	<div class="wrapper row4">
		<div id="container" class="clear">
			 <div style="text-align: center;">
			   <h1 class="set" style="font-weight: bolder;">
			   	귀사에서는 역량이 검증된 직원 만이 그 활동, 그 역할을 하고 있습니까?
			   </h1>
			   <br>
			   <h2 class="set">
			     SW사업의 가장 기본적인 경영 원칙은
			   </h2>
			   <h2 class="set">
			     역량을 인증 받은 직원만 SW프로젝트에 투입하는 것이다. 병원의 의사 처럼··· 
			   </h2>
			   <h3 class="set">- SW역량 강화 5단계 추진방법, 박준성 -</h3>
			   
			   <hr class="hr-set">
			   
			 <div style="text-align: left;">
		  	    <img class="img-set" src="images/육각형.png">
		        <h1 class="icon-2" style="font-weight: bold;">KOSTA 역량 인증 로드맵</h1>
		        
			    <br><br><br><br>
			    
			    <img class="img-set" src="images/육각형.png">
		        <h1 class="icon-2" style="font-weight: bold;">SW 개발자 인증</h1>
		        
		        <br><br>
		        
		        <img class="img-set2" src="images/화살표.png">
        		<h3 class="icon-2">주니어 개발자</h3>
		        
		        <p style="float: right; font-size: 14px; color: #666666;">* 시험방법 : 필기시험 (객관식/주관식)</p>
		        
				<table class="table-set" style="margin-top: 10px;">
				  <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
				  </colgroup>
					<thead>
						<tr>
							<th class="table-th">주제</th>
							<th class="table-th">과목</th>
							<th class="table-th">문제수</th>
							<th class="table-th">시간(분)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tabel-td2">Front-end</td>
							<td class="tabel-td2" style="text-align: left;">HTML(초),CSS(초),JavaScript,Bootstrap(중), React / Matirial UI(선택 Vue.js / Vuetify)(중)</td>
							<td class="tabel-td2">30</td>
							<td class="tabel-td2" rowspan="3">90</td>
						</tr>
						<tr>
							<td class="tabel-td2">API</td>
							<td class="tabel-td2" style="text-align: left;">REST(중)</td>
							<td class="tabel-td2">10</td>
						</tr>
						<tr>
							<td class="tabel-td2">Back-end</td>
							<td class="tabel-td2" style="text-align: left;">Java (중), Spring (중), Security(중), TDD(Junit, Mocha)(중)</td>
							<td class="tabel-td2">30</td>
						</tr>
						<tr>
							<td class="tabel-td2">Database</td>
							<td class="tabel-td2" style="text-align: left;">SQL(중), JDBC(중), JPA/Hibernate(중), MongoDB(중)</td>
							<td class="tabel-td2">25</td>
							<td class="tabel-td2" rowspan="2">70</td>
						</tr>
						<tr>
							<td class="tabel-td2">Tools / Infra</td>
							<td class="tabel-td2" style="text-align: left;">Git/GitHub(초), IntelliJ(초), Build(Maven/Gradle)(초), Web server (apache, nginx, tomcat)(중), Docker(중), Kubernetes(중), AWS(중)</td>
							<td class="tabel-td2">30</td>
						</tr>
						<tr>
							<td class="tabel-td2">SW Engineering</td>
							<td class="tabel-td2" style="text-align: left;">BPM(BPMN)(초), Data Modeling (UML Class Diagram)(중), Use
								Case Analysis(중), Object Design Patterns(중), aRefactoring(중), DB
								Design(중), Scrum(Jira)(중), SOA Design(중), EA(ArchiMate)(중)</td>
							<td class="tabel-td2">40</td>
							<td class="tabel-td2">50</td>
						</tr>
						<tr style="background-color: #f5f5f5;">
							<td class="tabel-td2"></td>
							<td class="tabel-td2">합계</td>
							<td class="tabel-td2">165</td>
							<td class="tabel-td2">210</td>
						</tr>
					</tbody>
				</table>
<!-- -------------------------------------------------------- 주니어 개발자 1 table end ------------------------------------------------------ -->
			<br>
			<img class="img-set2" src="images/화살표.png">
		    <h3 class="icon-2">시니어 개발자</h3> 
		    
		    <p style="float: right; font-size: 14px; color: #666666;">* 시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
			  <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
			  </colgroup>
				<thead>
					<tr >
						<th class="table-th">주제</th>
						<th class="table-th">과목</th>
						<th class="table-th">문제수</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">Front-end</td>
						<td class="tabel-td2" style="text-align: left;">HTML(중/고), CSS(중/고), JavaScript(고), Bootstrap(고), React / Matirial UI(선택 Vue.js / Vuetify)(고)</td>
						<td class="tabel-td2">30</td>
						<td rowspan="3" class="tabel-td2">100</td>
					</tr>
					<tr>
						<td class="tabel-td2">API</td>
						<td class="tabel-td2" style="text-align: left;">REST(중)</td>
						<td class="tabel-td2">10</td>
					</tr>
					<tr>
						<td class="tabel-td2">Back-end</td>
						<td class="tabel-td2" style="text-align: left;">Java(고), Spring(고), Security(고), TDD(Junit, Mocha)(중/고)</td>
						<td class="tabel-td2">30</td>
					</tr>
					<tr>
						<td class="tabel-td2">Database</td>
						<td class="tabel-td2" style="text-align: left;">DB Design(고), SQL(고), JPA/Hibernate(중/고), Physical DB Tuning(고), DBA(고), MongoDB(중/고)</td>
						<td class="tabel-td2">25</td>
						<td rowspan="2" class="tabel-td2">80</td>
					</tr>
					<tr>
						<td class="tabel-td2">Tools / Infra</td>
						<td class="tabel-td2" style="text-align: left;">Git/GitHub, Jenkins/Gitlab활용한 CI/CD와 DevOps(중/고), Web server (apache, nginx, tomcat)(중/<br>고), Docker(고), Kubernetes(고), AWS(고)</td>
						<td class="tabel-td2">30</td>
					</tr>
					<tr>
						<td class="tabel-td2">SW Engineering</td>
						<td class="tabel-td2" style="text-align: left;">BPM(BPMN)(중/고), Data Modeling (UML Class Diagram)(중/고), Use Case Analysis(중/고), 
						Object Design Patterns(고), Refactoring(고), Scrum(Jira)(고), SOA Design(고), EA(ArchiMate)(고)</td>
						<td class="tabel-td2">40</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr style="background-color: #f5f5f5;">
						<td class="tabel-td2"></td>
						<td class="tabel-td2">합계</td>
						<td class="tabel-td2">165</td>
						<td class="tabel-td2">240</td>
					</tr>
				</tbody>
			</table>
<!-- -------------------------------------------------------- 시니어 개발자 2 table end ------------------------------------------------------ -->		
			<br><br><br>
			
			<img class="img-set" src="images/육각형.png">
		    <h1 class="icon-2" style="font-weight: bold;">비즈니스 분석자 (Business Analyst) 인증</h1>
		        
		    <br><br>
		        
		    <img class="img-set2" src="images/화살표.png">
        	<h3 class="icon-2">Associate 비즈니스 분석자</h3>
		        
		    <p style="float: right; font-size: 14px; color: #666666;">* 시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
				  <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
		  		  </colgroup>
					<thead>
						<tr>
							<th class="table-th">주제</th>
							<th class="table-th">과목</th>
							<th class="table-th">문제수</th>
							<th class="table-th">시간(분)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tabel-td2">비즈니스 프로세스 설계</td>
							<td class="tabel-td2" style="text-align: left;">비즈니스 프로세스의 원리 이해, 비즈니스 프로세스 모델링의 현장 적용, BPMN 기반 개념적 프로세스 모델링 문법과 패턴, 
							개념적 프로세스 모델링 절차 및 실습, 개념적 프로세스 모델링 프로젝트 데모.</td>
							<td class="tabel-td2">33</td>
							<td class="tabel-td2">60</td>
						</tr>
						<tr>
							<td class="tabel-td2">비즈니스 데이터 설계</td>
							<td class="tabel-td2" style="text-align: left;">비즈니스 애플리케이션 개발 프로세스와 데이터 설계, UML Class Diagram 기반의 개념적 데이터 모델링, Class Diagram과 ER Diagram 간 변환규칙, 개념적 데이터 모델링 사례, 
							Visual Paradigm을 이용한 개념적 데이터 모델링 실습, 개념적 데이터 모델의 논리적 RDB 스키마 변환 알고리즘, Visual Paradigm을 이용한 데이터베이스 설계 실습.</td>
							<td class="tabel-td2">33</td>
							<td class="tabel-td2">60</td>
						</tr>
						<tr>
							<td class="tabel-td2">비즈니스 사용사례 분석 및 구현</td>
							<td class="tabel-td2" style="text-align: left;">사용사례 도출 (Use Case Identification), 사용사례 시나리오 작성 (Use Case Scenario Analysis).</td>
							<td class="tabel-td2">33</td>
							<td class="tabel-td2">60</td>
						</tr>
						<tr style="background-color: #f5f5f5;">
							<td class="tabel-td2"></td>
							<td class="tabel-td2">합계</td>
							<td class="tabel-td2">99</td>
							<td class="tabel-td2">180</td>
						</tr>
					</tbody>
				</table>
<!-- -------------------------------------------------------- Associate 비즈니스 분석자 3 table end ------------------------------------------------------ -->
			<br>
			 <img class="img-set2" src="images/화살표.png">
        	<h3 class="icon-2">Professional 비즈니스 분석자</h3>
		        
		    <p style="float: right; font-size: 14px; color: #666666;">*시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
			   <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
		  	  </colgroup>
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">과목</th>
						<th class="table-th">문제수</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">비즈니스 모델링</td>
						<td class="tabel-td2" style="text-align: left;">Design Thinking을 통한 고객 중심의 Business Modeling, 비즈니스 전략 수립과 Enterprise Architecture <br>설계, 비즈니스 요구 분석, 
						SW 요구스펙 분석, SW아키텍처 설계, Lean Startup과 Agile 개발.</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr>
						<td class="tabel-td2">비즈니스 프로세스 설계</td>
						<td class="tabel-td2" style="text-align: left;">비즈니스 프로세스 리엔지니어링 (BPR) 방법론과 패턴, 비즈니스 프로세스 이벤트의 이해, 물리적 비즈니스 프로<br>세스 모델링의 패턴, 4차산업 혁명 디지털 비즈니스의 프로세스 모델링 사례,
						 BPM플랫폼의 발전추세와 Low-<br>Code 개발 플랫폼, 물리적 프로세스 모델링 프로젝트 데모, 물리적 프로세스 모델링 실습.</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr>
						<td class="tabel-td2">비즈니스 데이터 설계</td>
						<td class="tabel-td2" style="text-align: left;">Relational 데이터 모델, Dependency Theory와 Normal Forms, Data Warehouse 구축을 위한 다차원 데이터 모델<br>링과 Snowflake 스키마 설계, 
						EAV 데이터모델과 NoSQL 데이터베이스 설계.</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr>
						<td class="tabel-td2">비즈니스의 사용사례 분석 및 구현</td>
						<td class="tabel-td2" style="text-align: left;">사용사례 구현 (Use Case Realization), 애자일 SW요구분석 프로세스 (Agile Business Analysis Process), Business Analysis Capstone Project (Sprint 4차 시행).</td>
						<td class="tabel-td2">33</td>
						<td rowspan="2" class="tabel-td2">90</td>
					</tr>
					<tr>
						<td class="tabel-td2">SOA와 마이크로 서비스 설계 패턴과 방법론</td>
						<td class="tabel-td2" style="text-align: left;">SW아키텍처의 이해, SOA 설계원칙과 패턴, SOA 기술의 진화, SOA 분석 설계 방법론)</td>
						<td class="tabel-td2">20</td>
					</tr>
					<tr style="background-color: #f5f5f5;">
						<td class="tabel-td2"></td>
						<td class="tabel-td2">합계</td>
						<td class="tabel-td2">152</td>
						<td class="tabel-td2">270</td>
					</tr>
				</tbody>
			</table>
			
			<br>
			
			<p style="float: right; font-size: 14px; color: #666666;">*시험방법 : 발표 및 인터뷰</p>
			
			<table class="table-set" style="margin-top: 10px;">
			   <colgroup>
				    <col width="55%;"/>
				    <col width="35%;"/>
				    <col width="10%;"/>
		  	  </colgroup>
			  <thead>
				<tr>
				<th class="table-th">주제</th>
				<th class="table-th">내용</th>
				<th class="table-th">시간(분)</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td class="tabel-td2">
				비즈니스모델링, 프로세스 설계, 데이터 설계, 사용사례 분석/구현, 객체지향 프로그램의 디자인 패턴,<br>SOA/MSA 설계 패턴 및 방법론
				</td>
				<td class="tabel-td2">프로젝트 프로파일 작성 및 발표,  전문가 질의 응답 (실기 포함)</td>
				<td class="tabel-td2">40</td>
			  </tr>
			</tbody>
		  </table>
			
		
<!-- --------------------------------------------------------Professional 비즈니스 분석자 4 table end ------------------------------------------------------ -->		
			<br><br>
		<img class="img-set" src="images/육각형.png">
		    <h1 class="icon-2" style="font-weight: bold;">소프트웨어 아키텍트 인증</h1>
		        
		    <br><br>
		        
		    <img class="img-set2" src="images/화살표.png">
        	<h3 class="icon-2">Associate SW 아키텍트</h3>
		        
		    <p style="float: right; font-size: 14px; color: #666666;">* 시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
				  <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
		  		  </colgroup>
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">과목</th>
						<th class="table-th">문제수</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">Requirements Engineering</td>
						<td class="tabel-td2" style="text-align: left;">Process Modeling using BPMN 2.0, Data Modeling using UML Conceptual-Level Class Diagram, Use Case Analysis and Scenario Writing using Visual Paradigm, 
						Use Case Realization, Domain Modeling and Sequence Diagram</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2" rowspan="2">90</td>
					</tr>
					<tr>
						<td class="tabel-td2">Object-Oriented Analysis &#38; Design</td>
						<td class="tabel-td2" style="text-align: left;">Object-Oriented Analysis &#38; Design Principles, Design Patterns</td>
						<td class="tabel-td2">20</td>
					</tr>
					<tr>
						<td class="tabel-td2">Agile Software Engineering Process,  Methodologies &#38; DDD Etc.</td>
						<td class="tabel-td2" style="text-align: left;">Design Thinking, Persona and Customer Journey Map, Business Architecture and ArchiMate, SPEM 2.0, RUP / OpenUP, Lean Startup, Scrum and SAFe, Extreme Programming: TDD,
						 Refactoring and CI, Cloud-Native Application, CD and DevOps, Domain-Driven Design(DDD): Bounded Context &#38; DDD Process, Refactoring &#38; Clean Code</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2" rowspan="2">90</td>
					</tr>
					<tr>
						<td class="tabel-td2">Software Architecture Process</td>
						<td class="tabel-td2" style="text-align: left;">Quality Attribute Utility Tree, Attribute-Driven Design (ADD 3.0), RUP 4+1 View Model, Design Concepts Catalog, Architecture Analysis &#38; Evaluation, Evolutionary Architecture</td>
						<td class="tabel-td2">20</td>
					</tr>
					<tr style="background-color: #f5f5f5;">
						<td class="tabel-td2"></td>
						<td class="tabel-td2">합계</td>
						<td class="tabel-td2">106</td>
						<td class="tabel-td2">180</td>
					</tr>
				</tbody>
			</table>
		
<!-- --------------------------------------------------------Associate SW 아키텍트 5 table end ------------------------------------------------------ -->
			<br>
			 <img class="img-set2" src="images/화살표.png">
        	<h3 class="icon-2">Professional SW 아키텍트</h3>
		        
		    <p style="float: right; font-size: 14px; color: #666666;">*시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
			   <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
		  	  </colgroup>
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">과목</th>
						<th class="table-th">문제수</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">Software Architecture<br>Documentation</td>
						<td class="tabel-td2" style="text-align: left;">IEEE 1471, SEI Views and Beyond Model, Confluence Software Architecture Documentation (SAD)</td>
						<td class="tabel-td2">20</td>
						<td class="tabel-td2" rowspan="2">70</td>
					</tr>
					<tr>
						<td class="tabel-td2">Software Architecture Styles</td>
						<td class="tabel-td2" style="text-align: left;">Layered Style, Pipe &#38; Filter Style, Batch Sequential Style, Repository Style, Publish &#38; Subscribe Style, Peer-to-Peer Style</td>
						<td class="tabel-td2">25</td>
					</tr>
					<tr>
						<td class="tabel-td2">SOA Design Principles and<br>Patterns</td>
						<td class="tabel-td2" style="text-align: left;">Client-Server Architecture, Web Application Architecture, Service-Oriented Architecture (SOA), Cloud Service Architecture, Microservice Architecture, AI/IoT Application Architecture</td>
						<td class="tabel-td2">25</td>
						<td class="tabel-td2" rowspan="2">90</td>
					</tr>
					<tr>
						<td class="tabel-td2">SOA Analysis and Design<br>Process and Methodologies</td>
						<td class="tabel-td2" style="text-align: left;">Business Architecture Analysis, Process Decomposition, Use Case-Class Affinity Clustering, Bounded Contexts in Domain Model, Service Architecture Design using SoaML, API Design</td>
						<td class="tabel-td2">25</td>
					</tr>
					<tr>
						<td class="tabel-td2">Microservices Architecture<br>Design Principles and Patterns</td>
						<td class="tabel-td2" style="text-align: left;">Macro, Mini, Micro, and Nano Service, Microservice Prerequisites, Microservices Architecture Patterns</td>
						<td class="tabel-td2">25</td>
						<td class="tabel-td2">40</td>
					</tr>
					<tr style="background-color: #f5f5f5;">
						<td class="tabel-td2"></td>
						<td class="tabel-td2">합계</td>
						<td class="tabel-td2">115</td>
						<td class="tabel-td2">200</td>
					</tr>
				</tbody>
			</table>
			
			<p style="float: right; font-size: 14px; color: #666666;">*시험방법 : 발표 및 인터뷰</p>
			
			<table class="table-set" style="margin-top: 10px;">
			   <colgroup>
				    <col width="55%;"/>
				    <col width="35%;"/>
				    <col width="10%;"/>
		  	  </colgroup>			
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">내용</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">
							Requirements Engineering, Object-Oriented Analysis & Design, Agile Software<br>
							Engineering Process & Methodologies, Software Architecture Process, Software<br>
							Architecture Documentation, Software Architecture Styles, SOA Design Principles and<br>
							Patterns, SOA Analysis and Design Process and Methodologies, Microservices<br>
							Architecture  Design Principles and Patterns
						</td>
						<td class="tabel-td2">프로젝트 프로파일 작성 및 발표, 전문가 질의 응답 (실기포함)</td>
						<td class="tabel-td2">40</td>
					</tr>
				</tbody>
			</table>
		
<!-- -------------------------------------------------------- Professional SW 아키텍트 6 table end ------------------------------------------------------ -->		
		
		<br><br><br>
			
			<img class="img-set" src="images/육각형.png">
		    <h1 class="icon-2" style="font-weight: bold;">시스템 아키텍트 인증</h1>
		        
		    <br><br>
		        
		    <img class="img-set2" src="images/화살표.png">
        	<h3 class="icon-2">Associate 시스템 아키텍트</h3>
		        
		    <p style="float: right; font-size: 14px; color: #666666;">* 시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
				  <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
		  		  </colgroup>
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">과목</th>
						<th class="table-th">문제수</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">Requirements Engineering</td>
						<td class="tabel-td2" style="text-align: left;">Needs Analysis, Requirements Analysis</td>
						<td class="tabel-td2">20</td>
						<td class="tabel-td2" rowspan="2">70</td>
					</tr>
					<tr>
						<td class="tabel-td2">SysML</td>
						<td class="tabel-td2" style="text-align: left;">Diagrams, Modeling with SysML Diagrams</td>
						<td class="tabel-td2">20</td>
					</tr>
					<tr>
						<td class="tabel-td2">Model-Based System Engineering (MBSE)</td>
						<td class="tabel-td2" style="text-align: left;">MBSE Overview, Modeling Tools and  Environment</td>
						<td class="tabel-td2">20</td>
						<td class="tabel-td2" rowspan="2">70</td>
					</tr>
					<tr>
						<td class="tabel-td2">Making Decisions and Evaluations</td>
						<td class="tabel-td2" style="text-align: left;">Decision Analysis and Support, Evaluation and Selection</td>
						<td class="tabel-td2">20</td>
					</tr>
					<tr style="background-color: #f5f5f5;">
						<td class="tabel-td2"></td>
						<td class="tabel-td2">합계</td>
						<td class="tabel-td2">80</td>
						<td class="tabel-td2">140</td>
					</tr>
				</tbody>
			</table>
		
<!-- --------------------------------------------------------Associate 시스템 아키텍트 7 table end ------------------------------------------------------ -->		
			<br>
			 <img class="img-set2" src="images/화살표.png">
        	<h3 class="icon-2">Professional 시스템 아키텍트</h3>
		        
		    <p style="float: right; font-size: 14px; color: #666666;">*시험방법 : 필기시험 (객관식/주관식)</p>
		    
			<table class="table-set" style="margin-top: 10px;">
			   <colgroup>
				    <col width="20%;"/>
				    <col width="60%;"/>
				    <col width="10%;"/>
				    <col width="10%;"/>
		  	  </colgroup>
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">과목</th>
						<th class="table-th">문제수</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">System Engineering &#38; System Architecture Design</td>
						<td class="tabel-td2" style="text-align: left;">Process, Functional Analysis, Evaluating and Selecting the System Concept, Systems Architecting</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr>
						<td class="tabel-td2">Engineering Development</td>
						<td class="tabel-td2" style="text-align: left;">Advanced Development, Engineering Design, Systems Integration, Test and Evaluation, Production, OOSEM</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr>
						<td class="tabel-td2">System Architecture Modeling using SysML &#38; Rhapsody</td>
						<td class="tabel-td2" style="text-align: left;">Designing &#38; Validating System Architecture Exercise : 프로젝트 결정, 요구사항 명세, 아키텍처 설계 문제 분석, 아키텍처 설계, 아키텍처 분석 및 평가</td>
						<td class="tabel-td2">33</td>
						<td class="tabel-td2">60</td>
					</tr>
					<tr style="background-color: #f5f5f5;">
						<td class="tabel-td2"></td>
						<td class="tabel-td2">합계</td>
						<td class="tabel-td2">99</td>
						<td class="tabel-td2">180</td>
					</tr>
				</tbody>
			</table>
		
<!-- -------------------------------------------------------- Professional 시스템 아키텍트 8 table end ------------------------------------------------------ -->		
			
			<p style="float: right; font-size: 14px; color: #666666;">*시험방법 : 발표 및 인터뷰</p>
			
			<table class="table-set" style="margin-top: 10px;">
			   <colgroup>
				    <col width="55%;"/>
				    <col width="35%;"/>
				    <col width="10%;"/>
		  	  </colgroup>			
				<thead>
					<tr>
						<th class="table-th">주제</th>
						<th class="table-th">내용</th>
						<th class="table-th">시간(분)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tabel-td2">Requirements Engineering, SysML, Model-Based System Engineering (MBSE), Making <br>Decisions and Evaluations, 
						System Engineering &#38; System Architecture Design, <br>Engineering Development, System Architecture Modeling using SysML &#38; Rhapsody</td>
						<td class="tabel-td2">프로젝트 프로파일 작성 및 발표, 전문가 질의 응답 (실기포함)</td>
						<td class="tabel-td2">40</td>
					</tr>
				</tbody>
			</table>
<!-- -------------------------------------------------------- 9 table end ------------------------------------------------------ -->		
			<br><br><br>
			
			<img class="img-set" src="images/육각형.png">
		    <h1 class="icon-2" style="font-weight: bold;">문의처</h1>
		        
		    <br><br>
		        
		    <img class="img-set2" src="images/화살표.png">
        	<p class="set" style="display: inline; position: relative;">한국SW기술진흥협회 기술기획정책팀 정석진 팀장 / sjjung@kosta.or.kr / 031-606-9302</p>

			</div>
		  </div>
		</div>
	</div>
</div>
<!-- content end -->