<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Style Demo</title>
</head>
<!-- content start -->
<div layout:fragment="content">
  <div class="wrapper row4">
    <div id="container" class="clear"> 
      <div>
        <div>
          <img class="img-set" src="images/육각형.png">
          <h1 class="icon" style="font-weight: bold;">채용공고 게시판</h1>
          <br><br>
      </div>
      <div>
        <img class="img-set2" src="images/화살표.png">
        <h3 class="icon">채용공고를 등록하고자 할 경우  본 협회 홈페이지 로그인 후 채용공고 작성하기를 클릭 후 "채용공고" 를 작성하시고, 
        KOSTA 취업자 과정 수료생 대상 인재 추천 채용을 희망하는 경우엔 인재 추천 의뢰서 작성하기를 클릭 후 의뢰서를 작성해 주시길 바랍니다. </h3>
        <br>
        <img class="img-set2" src="images/화살표.png">
        <h2 class="icon" style="font-weight: bold;"><a href="" style="color: blue;">채용공고 작성하기(로그인후 작성 가능함)</a></h2>
        <br>
        <img class="img-set2" src="images/화살표.png">
        <h2 class="icon" style="font-weight: bold;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf1oPSzYsoiN2H4FAGeqOy-V9BzxiLKOSXqZbx2HGErm6jG4Q/viewform" target="blank" style="color: blue;">KOSTA  취업자과정 수료 인재 추천 의뢰서 작성하기</a></h2>
        <br>
        <img class="img-set2" src="images/화살표.png">
        <h3 class="icon">문의처 : 한국SW기술진흥협회 교육개발진흥팀 정용학 선임연구원 / <a href="">yhjung@kosta.or.kr</a> / 031-606-9317</h3>
      </div>
      <br>
      <div>
        <table class="board">
          <thead>
            <tr class="board-th">
              <th style="width: 8%;">No</th>
              <th style="width: 56%;">제목</th>
              <th style="width: 13%;">글쓴이</th>
              <th style="width: 13%;">작성시간</th>
              <th style="width: 10%;">조회수</th>
            </tr>
          </thead>
          <tbody>
          	<tr class="board-td">
          	  <td style="width: 8%;">87</td>
          	  <td style="width: 56%; text-align: left;"><a href="">[(주)에스티에이테스팅컨설팅] [ISTQB 교육/자격시험 지원]SW 테스트 엔지니어 모집(각 부문)</a></td>
          	  <td style="width: 13%;">관리자</td>
          	  <td style="width: 13%;">2023-03-24</td>
          	  <td style="width: 10%;">11</td>
          	</tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- content end --> 
