<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<div id="container" class="clear">
			<div id="homepage" class="clear">
				<div style="text-align: center;">
					<h2 class="set">
					  급격한 기술 변화의 시대에서는 많은 노력들이 기업 성장을 보장해 주지 못합니다.
					</h2>
					<h2 class="set">
					  경영자는 비즈니스 모델과 전략이 금방 쓸모 없어지는 시대에 대비하여 끊임없이
					</h2>
					<h2 class="set">
					  기업을 혁신하는 방법을 생각해야 합니다.
					</h2>
					
					<br>
					
					<h2 class="set">
					  미래는 기술과 비즈니스의 통합을 통해 고객에게 더욱 가까이 다가가는 기술 역량을 구축하는 기업들의 차지가 될 것이다.
					</h2>
					<h2 class="set">
					  기업이 새로운 환경에서 살아남으려면 모든 사업 단위에서 기술을 전략적 사고의 핵심으로 받아들여야 한다.
					</h2>
					<h2 class="set">
					  이것이 기술을 전략적 문제의 관점에서 접근하는 디지털 비즈니스를 해야 할 이유이다.
					</h2>
					<h2 class="set">
					  - John Rossman : The Amazon Way, Richard Dobbs: No Ordinary Disruption -
					</h2>
					 
					<hr class="hr-set" style="margin-top: 70px;">
					
					<div style="margin-top: -51px;">
						<a class="a-set a-hover a-side" th:href="@{/moveDigitalBusiness}">디지털비즈니스센터소개</a>
						<a class="a-set a-hover" th:href="@{/moveVideoLecture}">동영상강의</a>
					</div>
				</div>
				
				<br><br><br>
				<div style="text-align: left;">
				 <img class="img-set" src="images/육각형.png">
		         <h1 class="icon-2" style="font-weight: bold; margin-bottom: 30px;">개요</h1> 
		         <br><br>
		         <img class="img-set2" src="images/화살표.png">
        		 <h3 class="icon">「디지털비즈니스지원센터」는 제 4차 산업혁명에 대응하여 한국 기업의 디지털 비즈니스 이행 전략을 발굴 기획하고, 이의 실천 및 사업화에 필요한<br>
        		 시스템 개발을 지원하기 위해 한국소프트웨어기술진흥협회가 운영하는 디지털 비즈니스 연구 및 보급 전문기구입니다.</h3>
        		 <br>
        		 <img class="img-set2" src="images/화살표.png">
        		 <h3 class="icon">디지털 기업으로의 전환 (Digital Transformation)을 위한 디지털 비즈니스 구현전략과 이를 실천하는데 필요한 전사 차원의 소프트웨어 개발역량 및<br> 
        		 시스템 구축 역량을 필요 기업에 맞춤형으로 서비스 및 지원해 드립니다.</h3>
        		
        		 <br><br><br><br>
        		 <img class="img-set" src="images/육각형.png">
		         <h1 class="icon-2" style="font-weight: bold; margin-bottom: 30px;">사업 내용</h1> 
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>Digital Transformation 핵심 개념의 이해와 실현 방법론 · 역량 구축에 관한 월례 세미나</h3>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>디지털 비즈니스 전환 성공전략 CxO 특강</h3>
				 <br>        		 
        		 <h3 class="icon"><span class="circle">●</span>디지털 비즈니스 구현 방법론 및 분석/설계 교육</h3>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>디지털 비즈니스 Agile 구현 및 개발 교육</h3>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>디지털 비즈니스 개발 리더를 위한 아키텍트 분석/설계 교육</h3>
        		<div style="margin-top: -20px; margin-bottom: 80px;">
	        		 <ul class="ul-set">
	        		 	<li>디지털 혁신을 위한 비즈니스 모델링</li> 
	        		 	<li>디지털 비즈니스의 데이터 설계</li> 
	        		 	<li>객체지향 프로그램의 디자인 패턴</li>
	        		 </ul>
	        		 <ul class="ul-set" style="margin-left: 50px;">
	        		 	<li>디지털 비즈니스의 프로세스 설계</li>
	        		 	<li>디지털 비즈니스의 사용사례 분석 및 구현</li>
	        		 	<li>SOA와 마이크로서비스 설계 패턴과 방법론</li>
	        		 </ul>
        		 </div>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>디지털 비즈니스 역량의 핵심, Full Cycle, Full_stack 개발자 양성 교육</h3>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>프로젝트 리더 · 상급 개발자를 위한 프리미엄 교육</h3>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>빠른 디지털비즈니스 실현을 위한 쉬운 Low Code 개발 실습</h3>
        		 <br>
        		 <h3 class="icon"><span class="circle">●</span>SW엔지니어링 전문가와 함께 하는 10주 만에 디지털비즈니스 개발하기 실습</h3>
        		 
        		 <br><br><br>
        		 
        		 <img class="img-set2" src="images/화살표.png">
        		 <h3 class="icon">Digital Transformation 핵심 개념의 이해와 실현 방법론 · 역량 구축에 관한 월례 세미나</h3>
        		 <br>
        		  <div class="a-radius" style="margin-top: 30px;">
        		   <a th:href="@{/moveVideoLecture}" target="blank">디지털비즈니스지원센터 세미나 다시보기</a>
        		  </div>
        		  
				  <br><br>
				  
				   <table class="table-set" style="margin-top: 10px;">
				   	<colgroup>
					    <col width="17.7016%;"/>
					    <col width="15.9677%;"/>
					    <col width="16.0484%;"/>
					    <col width="16.3848%;"/>
					    <col width="16.3747%;"/>
					    <col width="17.4963%;"/>
				  	</colgroup>
				  	<tbody>
				  	  <tr>
				  	    <td class="table-td2" style="vertical-align: top;">디지털혁신의 실행을 위한 글로벌 일류 SW 역량 확보방안<br>2021.1.20.<br>글로벌 일류 SW개발자 양성,<br>기술리더로 성장하는 경력로드맵</td>
				  	    <td class="table-td2" style="vertical-align: top;">신입사원 글로벌 SW역량개발 Off-JT/OJT 교육실행 전략<br>2021.2.23.</td>
				  	    <td class="table-td2" style="vertical-align: top;">디지털비즈니스에서의 SW 아키텍처 발전동향과 수립전략<br>2021.4.27.<br>디지털 비즈니스에서의 마이크로서비스 아키텍처 설계와 적용,<br>3-Tier IoT 아키텍처 애플리케이션의 개발 프로세스와 기법들</td>
				  	    <td class="table-td2" style="vertical-align: top;">성공적 디지털비즈니스를 위한 비즈니스모델링 및 SW요구분석<br>2021.6.15.<br>비지니스 모델링(Business Architecture),<br>소프트웨어 요구분석(Business Analysis)</td>
				  	    <td class="table-td2" style="vertical-align: top;">AI/IoT활용 Digital Transformation 추진전략<br>2021.7.28.<br>디지털 비즈니스 애플리케이션의 개발 프로세스와 기법들,<br>AI와 IoT 기반의 디지털 비즈니스 애플리케이션의 개발 프로세스와 기법들</td>
				  	    <td class="table-td2" style="vertical-align: top;">SW설계 역량 선진화 세미나<br>2021.9.8<br>데이터 모델과 사용사례에서 SW설계 도출,<br>도메인모델과 소스코드의<br>설계 리팩토링</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="vertical-align: top;">글로벌 일류 SW개발자가 되는 길<br>2021.9.29.<br>소프트웨어 산업의 이해와 일류 SW개발자의 필수 역량,<br>SW 분석설계 사례와 테스트 주도 개발(TDD), 리팩토링, SW설계원리</td>
				  	    <td class="table-td2" style="vertical-align: top;">선진기업의 클라우드 도입전략<br>2021.10.19.<br>Public 클라우드 도입과 Private 클라우드 구축의<br>전략과 방법,<br>Cloud - Native 애플리케이션 개발 전략과 방법</td>
				  	    <td class="table-td2" style="vertical-align: top;">SaaS 사업의 선진 경영모델과 성공요건<br>2021.11.23.<br>Cloud-Native 애플리케이션의 개발 방법과 Multitenancy와 Self-Service의 구현방법,<br>SaaS 사업의 성공을 위한 경영모델과 SaaS 제품의 개발 공법</td>
				  	    <td class="table-td2" style="vertical-align: top;">효과적인 5단계 SW인력 역량강화 추진방법<br>2022.1.25.<br>1. SW개발 활동 정의 및 직무/직급별 수행 활동 분배<br>2. SW개발 활동별 수행기법<br>3. SW개발 직무/직급별 수행할 기법의 훈련과정 확보<br>4. SW인력별 할달할 직무/직급 훈련 실시 및 직무/직급 능력 자격인증 심사<br>5. Sw인력별 SW개발 활동 실적 성과 측정</td>
				  	    <td class="table-td2" style="vertical-align: top;">디지털 변혁을 위한 비즈니스<br>프로세스 설계 및 구현 방법<br>2022.2.22.<br>비즈니스 프로세스 모델 의 원리와 디지털 비즈니스에서의 사용사례,<br>BPMN 2.0을 활용한 비즈니스 프로세스 설계 구현 방법 및 툴</td>
				  	    <td class="table-td2" style="vertical-align: top;">혁신적 디지털 비즈니스를 위한<br>데이터 엔지니어링 역량 강화 방안<br>2022.3.22.<br>Operational DB 구축을 위한 Relational DB 설계,<br>Relational DB 기반의 Data Warehouse 설계,<br>Big Data Analytics를 위한 NoSQL DB 설계</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="vertical-align: top;">디지털 변혁 성공을 위한 사용<br>사례 분석/구현 역량 강화 방안<br>2022.4.26.<br>Use Case 분석, Use Case구현</td>
				  	    <td class="table-td2" style="vertical-align: top;">클라우드 네이티브 컴퓨팅<br>1-2-3 단계와 역량확보 방안<br>2022.5.24.<br>클라우드 네이티브 컴퓨팅<br>도입 로드맵 [1-2-3 단계],<br>1-2-3 단계 역량</td>
				  	    <td class="table-td2" style="vertical-align: top;">뉴노멀시대 디지털 트랜스포메이션을 위한 기업 아키텍처(EA) 설계<br>2022.7.26.<br>비즈니스 전략과 비즈니스<br>아키텍처, 애플리케이션, 데이터 및 IT 인프라 아키텍처 </td>
				  	    <td class="table-td2" style="vertical-align: top;"></td>
				  	    <td class="table-td2" style="vertical-align: top;"></td>
				  	    <td class="table-td2" style="vertical-align: top;"></td>
				  	  </tr>
				  	</tbody>
				   </table>
				   
				   <br><br>
				   
				   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">디지털 비즈니스 전환 성공전략 CxO 특강</h3>
        		   <br>
        		   
        		   <table class="table-set" style="margin-top: 10px;">
				   	<colgroup>
					    <col width="30.0412%;"/>
					    <col width="69.9588%;"/>
				  	</colgroup>
				  	<thead>
				  	  <tr>
				  	    <th class="table-th">주제</th>
				  	    <th class="table-th">내용</th>
				  	  </tr>
				  	</thead>
				  	<tbody>
				  	  <tr>
				  	    <td class="table-td2">1. 4차 산업혁명 시대의<br>디지털 비즈니스 이해</td>
				  	    <td class="table-td2" style="text-align: left;">
				  	      <ul>
				  	        <li>디지털 비즈니스의 본질</li>
				  	        <li>한국의 디지털 변환 준비현황</li>
				  	        <li>IoT서비스 아키텍처와 구축방법</li>
				  	        <li>클라우드 서비스 아키텍처</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2">2. 디지털 트랜스포메이션을 위한 기업 아키텍처 설계</td>
				  	    <td class="table-td2" style="text-align: left;">
				  	      <ul>
				  	        <li>기업 아키텍처의 중요성</li>
				  	        <li>디지털 변환을 위한 기업 경영전략</li>
				  	        <li>디지털 변환 기업아키텍처 (비즈니스, 어플리케이션, IT인프라 아키텍처 설계 및 사례)</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2">3. 고객가치 창출을 위한 디지털 비즈니스 분석</td>
				  	    <td class="table-td2" style="text-align: left;">
				  	      <ul>
				  	        <li>비즈니스 아키텍처 설계를 위한 Design Thinking</li>
				  	        <li>Lean Startup과 애자일 비즈니스 분석</li>
				  	        <li>서비스 지향 아키텍처 구현을 위한 비즈니스 요구분석 방법</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2">4. 디지털 비즈니스 Full Cycle/ Full Stack 개발과 프로젝트 관리</td>
				  	    <td class="table-td2" style="text-align: left;">
				  	      <ul>
				  	        <li>도메인모델 기반의 Full-Stack SW요구스펙 명세 방법</li>
				  	        <li>서비스 분석ㆍ설계ㆍ구현 방법</li>
				  	        <li>DevOps와 BizDevOps 방법</li>
				  	        <li>Enterprise Agile Framework 기반의 프로젝트관리</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	</tbody>
        		   </table>
        		   
        		   <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">디지털 비즈니스 구현 방법론 및 분석/설계 교육</h3>
        		   <br>
        		   
        		    <table class="table-set" style="margin-top: 10px;">
				   	  <colgroup>
					    <col width="25.7258%;"/>
					    <col width="4.4355%;"/>
					    <col width="69.742%;"/>
				  	  </colgroup>
				  	    <thead>
				  	      <tr>
					  	    <th class="table-th" colspan="2">주제</th>
					  	    <th class="table-th">내용</th>
				  	  	  </tr>
				  	    </thead>
				  	    <tbody>
				  	      <tr>
				  	        <td class="table-td2" colspan="2" rowspan="6">1. 디지털 혁신을 위한 비즈니스 모델링</td>
				  	        <td class="table-td2" style="text-align: left;">Design Thinking을 통한 고객 중심의 Business Modeling</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 전략 수립과 Enterprise Architecture 설계</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 요구 분석</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">SW 요구스펙 분석</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">SW아키텍처 설계</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Lean Startup과 Agile 개발</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" rowspan="12">2. 디지털 비즈니스의 프로세스 설계</td>
				  	        <td class="table-td2" rowspan="5">1</td>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 프로세스의 원리 이해</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 프로세스 모델링의 현장 적용</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">BPMN 기반 개념적 프로세스 모델링 문법과 패턴</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">개념적 프로세스 모델링 절차 및 실습</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 프로세스 리엔지니어링 (BPR) 방법론과 패턴</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" rowspan="7">2</td>
				  	        <td class="table-td2" style="text-align: left;">개념적 프로세스 모델링 프로젝트 데모</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 프로세스 이벤트의 이해</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">물리적 비즈니스 프로세스 모델링의 패턴</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">4차산업 혁명 디지털 비즈니스의 프로세스 모델링 사례</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">BPM플랫폼의 발전추세와 Low-Code 개발 플랫폼</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">물리적 프로세스 모델링 프로젝트 데모</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">물리적 프로세스 모델링 실습</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" rowspan="11">3. 디지털 비즈니스의 데이터 설계</td>
				  	        <td class="table-td2" rowspan="5">1</td>
				  	        <td class="table-td2" style="text-align: left;">비즈니스 애플리케이션 개발 프로세스와 데이터 설계</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">UML Class Diagram 기반의 개념적 데이터 모델링</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Class Diagram과 ER Diagram 간 변환규칙</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">개념적 데이터 모델링 사례</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Visual Paradigm을 이용한 개념적 데이터 모델링 실습</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" rowspan="6">2</td>
				  	        <td class="table-td2" style="text-align: left;">Relational 데이터 모델</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Dependency Theory와 Normal Forms</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">개념적 데이터 모델의 논리적 RDB 스키마 변환 알고리즘</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Visual Paradigm을 이용한 데이터베이스 설계 실습</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Data Warehouse 구축을 위한 다차원 데이터 모델링과 Snowflake 스키마 설계</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">EAV 데이터모델과 NoSQL 데이터베이스 설계</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" colspan="2" rowspan="5">4. 디지털 비즈니스의 사용사례 분석 및 구현</td>
				  	        <td class="table-td2" style="text-align: left;">사용사례 도출 (Use Case Identification)</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">사용사례 시나리오 작성 (Use Case Scenario Analysis)</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">사용사례 구현 (Use Case Realization)</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">애자일 SW요구분석 프로세스 (Agile Business Analysis Process)</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">Business Analysis Capstone Project (Sprint 4차 시행)</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" colspan="2" rowspan="6">5. 객체지향 프로그램의 디자인 패턴</td>
				  	        <td class="table-td2" style="text-align: left;">객체 설계 (Object Design) 방법과 원칙</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">객체 설계 패턴: Creational Patterns</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">객체 설계 패턴: Structural Patterns</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">객체 설계 패턴: Behavioral Patterns</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">객체 설계 패턴: Advanced Patterns</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">객체 설계 Capstone 프로젝트 (3 단계 프로젝트 수행)</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" colspan="2" rowspan="6">6. SOA와 마이크로 서비스 설계 패턴과 방법론</td>
				  	        <td class="table-td2" style="text-align: left;">SW아키텍처의 이해</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">SOA 설계원칙과 패턴</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">SOA 기술의 진화</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">SOA 분석 설계 방법론</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">API 설계와 레거시 재사용</td>
				  	      </tr>
				  	      <tr>
				  	        <td class="table-td2" style="text-align: left;">마이크로서비스와 Cloud-Native DevOps</td>
				  	      </tr>
				  	    </tbody>
        		    </table>
        		   
        		   <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">디지털 비즈니스 Agile 구현 및 개발 교육</h3>
        		   <br>
        		   
        		    <table class="table-set" style="margin-top: 10px;">
				   	  <colgroup>
					    <col width="30.0412%;"/>
					    <col width="69.9588%;"/>
				  	  </colgroup>
				  	  <thead>
				  	    <tr>
				  	      <th class="table-th">주제</th>
					      <th class="table-th">내용</th>
					    </tr>
				  	  </thead>
				  	  <tbody>
				  	    <tr>
				  	      <td class="table-td2">Server-Side Programming</td>
				  	      <td class="table-td2" style="text-align: left;">
				  	        <ul>
				  	          <li>Spring Boot for Cloud Native Java Programming</li>
				  	          <li>Spring Data JPA for Repository and ORM</li>
				  	          <li>JAX-RS for REST API and API Testing</li>
				  	          <li>Capstone Project: Server-Side Java Programming and Testing</li>
				  	        </ul>
				  	      </td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Responsive Web UI Design & Programming</td>
				  	      <td class="table-td2" style="text-align: left;">
				  	        <ul>
				  	          <li>UI Architectural Patterns</li>
				  	          <li>UI Wireframe</li>
				  	          <li>UI Prototyping</li>
				  	          <li>Responsive Web UI Programming with Vue.js Web Framework</li>
				  	          <li>Capstone Project: Mobile Web UI</li>
				  	        </ul>
				  	      </td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Database Design</td>
				  	      <td class="table-td2" style="text-align: left;">
				  	        <ul>
				  	         <li>Relational Data Model and Normal Forms</li>
				  	         <li>Semantic Model to Logical Schema Mapping Algorithm</li>
				  	         <li>Multidimensional Data Modeling and Snowflake Schema Design for Data Warehouse</li>
				  	         <li>Adaptive Object Modeling and NoSQL Data Modeling</li>
				  	         <li>Capstone Project: Database Design</li>
				  	        </ul>
				  	      </td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">SQL & NoSQL Programming</td>
				  	      <td class="table-td2" style="text-align: left;">
				  	        <ul>
				  	         <li>Database Transaction</li>
				  	         <li>Relational Algebra</li>
				  	         <li>SQL DDL & DML</li>
				  	         <li>Capstone Project: SQL & NoSQL Programming</li>
				  	         <li>NoSQL Query: Document Data Store</li>
				  	        </ul>
				  	      </td>
				  	    </tr>
				  	  </tbody>
        		    </table>
        		   
        		   <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">디지털 비즈니스 개발 리더를 위한 아키텍처 분석/설계 교육</h3>
        		   <br>
        		   
        		    <table class="table-set" style="margin-top: 10px;">
				   	  <colgroup>
					    <col width="30.0412%;"/>
					    <col width="69.9588%;"/>
				  	  </colgroup>
				  	  <thead>
				  	    <tr>
				  	      <th class="table-th">주제</th>
					      <th class="table-th">과목</th>
					    </tr>
				  	  </thead>
				  	  <tbody>
				  	    <tr>
				  	      <td class="table-td2">Requirements Engineering</td>
				  	      <td class="table-td2" style="text-align: left;">Process Modeling using BPMN 2.0, Data Modeling using UML Conceptual-Level Class Diagram, Use Case Analysis 
				  	      and Scenario Writing using Visual Paradigm, Use Case Realization, Domain Modeling and Sequence Diagram</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Object-Oriented Analysis & Design</td>
				  	      <td class="table-td2" style="text-align: left;">Object-Oriented Analysis & Design Principles, Design Patterns</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Agile Software Engineering Process, <br>Methodologies & DDD Etc.</td>
				  	      <td class="table-td2" style="text-align: left;">Design Thinking, Persona and Customer Journey Map, Business Architecture and ArchiMate, SPEM 2.0, RUP / OpenUP, Lean Startup, Scrum and SAFe, Extreme Programming: TDD, Refactoring and CI, Cloud-Native Application, CD and DevOps, Domain-Driven Design(DDD): Bounded Context & DDD Process, Refactoring & Clean Code</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Software Architecture Process</td>
				  	      <td class="table-td2" style="text-align: left;">Quality Attribute Utility Tree, Attribute-Driven Design (ADD 3.0), RUP 4+1 View Model, Design Concepts Catalog, Architecture Analysis & Evaluation, Evolutionary Architecture</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Software Architecture Documentation</td>
				  	      <td class="table-td2" style="text-align: left;">IEEE 1471, SEI Views and Beyond Model, Confluence Software Architecture Documentation (SAD)</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Software Architecture Styles</td>
				  	      <td class="table-td2" style="text-align: left;">Layered Style, Pipe & Filter Style, Batch Sequential Style, Repository Style, Publish & Subscribe Style, Peer-to-Peer Style</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">SOA Design Principles and Patterns</td>
				  	      <td class="table-td2" style="text-align: left;">Client-Server Architecture, Web Application Architecture, Service-Oriented Architecture (SOA), Cloud Service Architecture, Microservice Architecture, AI/IoT Application Architecture</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">SOA Analysis and<br>Design Process and Methodologies</td>
				  	      <td class="table-td2" style="text-align: left;">Business Architecture Analysis, Process Decomposition, Use Case-Class Affinity Clustering, Bounded Contexts in Domain Model, Service Architecture Design using SoaML, API Design</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Microservices Architecture Design Principles<br>and Patterns</td>
				  	      <td class="table-td2" style="text-align: left;">Macro, Mini, Micro, and Nano Service, Microservice Prerequisites, Microservices Architecture Patterns</td>
				  	    </tr>
				  	  </tbody>
        		   </table>
        		   
        		   <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">디지털 비즈니스 역량의 핵심, Full Cycle, Full Stack 개발자 양성 교육</h3>
        		   <br>
        		   
        		    <table class="table-set" style="margin-top: 10px;">
				   	  <colgroup>
					    <col width="16%;"/>
					    <col width="28%;"/>
					    <col width="28%;"/>
					    <col width="28%;"/>
				  	  </colgroup>
				  	  <thead>
				  	    <tr>
				  	      <th class="table-th">주제</th>
					      <th class="table-th">초급</th>
					      <th class="table-th">중급</th>
					      <th class="table-th">고급</th>
					    </tr>
				  	  </thead>
				  	  <tbody>
				  	    <tr>
				  	      <td class="table-td2">Front-end</td>
				  	      <td class="table-td2" style="text-align: left;">HTML, CSS, DOM, JavaScript I</td>
				  	      <td class="table-td2" style="text-align: left;">JavaScript II, jQuery, Bootstrap,<br>React/Redux</td>
				  	      <td class="table-td2" style="text-align: left;">Vue.js</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">API</td>
				  	      <td class="table-td2" style="text-align: left;"></td>
				  	      <td class="table-td2" style="text-align: left;">REST, RAML/Swagger</td>
				  	      <td class="table-td2" style="text-align: left;">Eureka, Zuul, GraphQL</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Back-end</td>
				  	      <td class="table-td2" style="text-align: left;">Java I, JDBC, Spring I</td>
				  	      <td class="table-td2" style="text-align: left;">Java II, JSP, JPA/Hibernate, Spring II</td>
				  	      <td class="table-td2" style="text-align: left;">Java III, Spring III, Security</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Database</td>
				  	      <td class="table-td2" style="text-align: left;">MySQL</td>
				  	      <td class="table-td2" style="text-align: left;">MongoDB</td>
				  	      <td class="table-td2" style="text-align: left;">Transaction, Management</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Tools / Infra</td>
				  	      <td class="table-td2" style="text-align: left;">Linux CLI, Git/GitHub, IntelliJ,<br>Build(Maven/Gradle)</td>
				  	      <td class="table-td2" style="text-align: left;">TDD(Junit, Mocha), Jackson, JAXB, Tomcat,<br>jsoup,  Slf4j</td>
				  	      <td class="table-td2" style="text-align: left;">BDD(Cucumber), CI(Jenkins), Docker,<br>Kubernetes, AWS</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Software Engineering</td>
				  	      <td class="table-td2" style="text-align: left;">Req’t Analysis (Use Case, UML Class)</td>
				  	      <td class="table-td2" style="text-align: left;">Object Design, DB Design, XP, Scrum(Jira)</td>
				  	      <td class="table-td2" style="text-align: left;">UX Design, DDD, SOA Design, EA(ArchiMate),<br>BPM(BPMN), SAFe(Jira Align), DevOps</td>
				  	    </tr>
				  	  </tbody>
        		   </table>
        		   
        		    <table class="table-set" style="margin-top: 30px;">
				   	  <colgroup>
					    <col width="15.6452%;"/>
					    <col width="28.4677%;"/>
					    <col width="47.4705%;"/>
					    <col width="8%;"/>
				  	  </colgroup>
				  	  <thead>
				  	    <tr>
				  	      <th class="table-th">주제</th>
					      <th class="table-th" colspan="2">내용</th>
					      <th class="table-th">Level</th>
					    </tr>
				  	  </thead>
				  	  <tbody>
				  	    <tr>
				  	      <td class="table-td2" rowspan="3">Language</td>
				  	      <td class="table-td2" colspan="2">HTML5</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">CSS</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">JavaScript</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	      <tr>
				  	      <td class="table-td2" rowspan="3">Libarary</td>
				  	      <td class="table-td2" colspan="2">Bootstrap</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" colspan="2">jQuery</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" colspan="2">React/Redux.js</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2">Framework</td>
				  	      <td class="table-td2" colspan="2">Vue.js</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" rowspan="2">Linux</td>
				  	      <td class="table-td2" colspan="2">Basic OS(Linux)</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" colspan="2">Basic Terminal Usage</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="11">Language</td>
				  	      <td class="table-td2" rowspan="10">Java</td>
				  	      <td class="table-td2">Java Syntax</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java Object-Orineted Programming</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java IO</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java Collections</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java Concurrency</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java Data Structure/Algorithms</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Object Design Patterns</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java Web Application</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java RESTful Application</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Java Lambda</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Node.js</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="4">Library</td>
				  	      <td class="table-td2" colspan="2">Apache Commons</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Guava</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Jackson JSON</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Log4j 2</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="9">Framework</td>
				  	      <td class="table-td2" rowspan="8">Spring</td>
				  	      <td class="table-td2">Spring Core</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Spring MVC</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Spring REST</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Spring Security</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Spring Boot</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Spring Data</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Spring Cloud</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">Template Engine(Mustache)</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Express.js</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="2">Relational Databases</td>
				  	      <td class="table-td2" colspan="2">SQL</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">MySQL</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2">NoSQL</td>
				  	      <td class="table-td2">NoSQL & MongoDB</td>
				  	      <td class="table-td2"></td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="2">More about Databases</td>
				  	      <td class="table-td2" colspan="2">JDBC</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">JPA / Hibernate</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="5">API</td>
				  	      <td class="table-td2" colspan="2">REST</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">JSON APIs</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Open API Spec and Swagger</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">HATEOAS</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Authentication(Oauth, Basic Auth, JWT)</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="2">Caching</td>
				  	      <td class="table-td2" colspan="2">CDN</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Redis(Memcached)</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="3">Security</td>
				  	      <td class="table-td2" colspan="2">Hashing Algorithms(MD5, SHA, scrypt, bcrypt)</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">HTTPS(SSL/TLS)</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">CORS</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="6">Testing</td>
				  	      <td class="table-td2" colspan="2">Junit</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Jest</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Mockito</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Jasmine</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Cucumber</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Jmeter</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" rowspan="3">CI/CD</td>
				  	      <td class="table-td2" colspan="2">Jenkins</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Github Action</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Travis CI(or Circle CI)</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" rowspan="2">Version Control</td>
				  	      <td class="table-td2" colspan="2">Git</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Github</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" rowspan="8">Others</td>
				  	      <td class="table-td2" colspan="2">IntelliJ</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">CodePen</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Maven | Gradle</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Jenkins</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Cloud Foundry</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Docker</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Kubernetes</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">AWS | GCP</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	     <tr>
				  	      <td class="table-td2" rowspan="7">Requirement Analysis</td>
				  	      <td class="table-td2" colspan="2">BPMN Process Model</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">User Story</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">UML Use Case Diagram</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Conceptual-Level UML Class Diagram & ER Diagram</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">Use Case Scenario</td>
				  	      <td class="table-td2">1</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">UML  Activity Diagram & Test Case Generation</td>
				  	      <td class="table-td2">2</td>
				  	    </tr>
				  	    <tr>
				  	      <td class="table-td2" colspan="2">BABOK & Agile Extension</td>
				  	      <td class="table-td2">3</td>
				  	    </tr>
				  	  </tbody>
				  	  </table>
        		   
        		   <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">프로젝트 리더 · 상급 개발자를 위한 프리미엄 교육</h3>
        		   <br>
        		   
        		   <table class="table-set" style="margin-top: 10px;">
				   	<colgroup>
					    <col width="30%;"/>
					    <col width="69.9588%;"/>
				  	</colgroup>
				  	<thead>
				  	  <tr>
				  	    <th class="table-th">과정</th>
				  	    <th class="table-th">내용</th>
				  	  </tr>
				  	</thead>
				  	<tbody>
				  	  <tr>
				  	    <td class="table-td2" rowspan="4">Object Design</td>
				  	    <td class="table-td2" style="text-align: left;">Specification-Level UML Class Diagram</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">CRC Cards & UML Sequence Diagram</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">Oject Design Patterns</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">Domain-Driven Design</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" rowspan="4">Database Design</td>
				  	    <td class="table-td2" style="text-align: left;">Relational Data Model & Normal Forms</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">Conceptiual to Logical Data Model Mapping</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">Multidimensional Data Model & Data Warehouse Design</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">NoSQL Data Store Design</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" rowspan="3">UX Design</td>
				  	    <td class="table-td2" style="text-align: left;">Iterative UX Design Lifecycle (Design Thinking)</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">UI Wireframe Design</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">UI Design Patterns</td>
				  	  </tr>
				  	   <tr>
				  	    <td class="table-td2" rowspan="3">Software Architecture in General</td>
				  	    <td class="table-td2" style="text-align: left;">Software Architecture Documentation</td>
				  	  </tr>
				  	   <tr>
				  	    <td class="table-td2" style="text-align: left;">Attribute-Based Design (ADD)</td>
				  	  </tr>
				  	   <tr>
				  	    <td class="table-td2" style="text-align: left;">Architecture Tradeoff Anaysis Metod (ATAM)</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" rowspan="2">Service-Orineted Architecture & Microservices</td>
				  	    <td class="table-td2" style="text-align: left;">SOA Priciples and Patterns</td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2" style="text-align: left;">SOAP / REST Web Services</td>
				  	  </tr>
				  	</tbody>
        		   </table>
        		   
        		    <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">빠른 디지털비즈니스 실현을 위한 쉬운 Low Code 개발 실습</h3>
        		   <br>
        		   
        		   <table class="table-set" style="margin-top: 10px;">
				   	<colgroup>
					    <col width="30%;"/>
					    <col width="69.9588%;"/>
				  	</colgroup>
				    <thead>
				  	  <tr>
				  	    <th class="table-th">주제</th>
				  	    <th class="table-th">내용</th>
				  	  </tr>
				  	</thead>
				  	<tbody>
				  	  <tr>
				  	    <td class="table-td2">HP aPaaS</td>
				  	    <td class="table-td2">
				  	      <ul style="text-align: left;">
				  	        <li>HP aPaaS Basic</li>
				  	        <li>Data Modeling with Class Diagram</li>
				  	        <li>Function Modeling with Class Diagram</li>
				  	        <li>UX&UI Design with Use Case Scenario</li>
				  	        <li>Business Process with BPMN</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2">Developing Reactive Web</td>
				  	    <td class="table-td2">
				  	      <ul style="text-align: left;">
				  	        <li>Data Modeling and Relationships</li>
				  	        <li>Basic Screen Development</li>
				  	        <li>Logic and Validations</li>
				  	        <li>Developing Processes</li>
				  	        <li>REST Web Services Integration</li>
				  	        <li>Capstone Project: Shopping Web(Admin Side)</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	  <tr>
				  	    <td class="table-td2">Developing Mobile App</td>
				  	    <td class="table-td2">
				  	      <ul style="text-align: left;">
				  	        <li>Mobile Application Architecture</li>
				  	        <li>Modeling Data in Mobile</li>
				  	        <li>Mobile UI Development</li>
				  	        <li>Logic and Debugging</li>
				  	        <li>Native App Generation</li>
				  	        <li>Local Storage and Data Synchronization</li>
				  	        <li>Reusable Patterns and Templates</li>
				  	        <li>Capstone Project: Shopping Web(User Side)</li>
				  	      </ul>
				  	    </td>
				  	  </tr>
				  	</tbody>
        		   </table>
        		   
        		    <br>
        		   
        		   <img class="img-set2" src="images/화살표.png">
        		   <h3 class="icon">SW엔지니어링 전문가와 함께 하는 10주 만에 디지털비즈니스 개발하기 실습</h3>
        		   <br>
        		   
        		   <ul class="ul-set2">
        		     <li>사내 개발 디지털비즈니스개발에 필요한 기술 및 역량을 교육하고 교육내용에 기반한 프로젝트 진행 컨설팅을 실시하여 SW전문가와 공동개발을 수행함.</li>
        		     <li>글로벌 선진기업이 사용하고 있는 디자인 싱킹, 린 스타트업, 애자일 개발의 방법론을 적용함.</li>
        		     <li>참여사가 개발을 희망하는 프로젝트를 대상으로 개발 목표와 범위는 협의 조정하며, 기간은 주 2일 (1일 교육 + 1일 컨설팅) 단위로 10주 20일을 기본으로 함.</li>
        		   </ul>
        		   
        		  <br>
        		  <div style="text-align: center;">
	        		<h3 class="icon">< 적용 방법론 개요 : 디자인싱킹 + 린스타트업 + 애자일개발 ></h3>
	        		<br>
	        		  
	        		<br><br>
	        		
        		  	<h3 class="icon">< 개발 프로세스와 프랙티스 ></h3>
        		  	<br>
        		  	
        		  </div> 
        		  
        		  <br><br><br>
        		  
        		  <img class="img-set" src="images/육각형.png">
		           <h1 class="icon-2" style="font-weight: bold;">문의처</h1>
		           <br><br>
		           <img class="img-set2" src="images/화살표.png">
		           <h3 class="icon">한국SW기술진흥협회 기술기획정책팀 정석진 팀장 / sjjung@kosta.or.kr / 031-606-9302</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content end -->