<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<div id="container" class="clear">
			<div id="homepage" class="clear">
			<div style="text-align: center;">
				<h5>디지털비즈니스센터</h5>
				<hr>
				<pre>
급격한 기술 변화의 시대에서는 많은 노력들이 기업 성장을 보장해 주지 못합니다.
경영자는 비즈니스 모델과 전략이 금방 쓸모 없어지는 시대에 대비하여 끊임없이
기업을 혁신하는 방법을 생각해야 합니다.



미래는 기술과 비즈니스의 통합을 통해 고객에게 더욱 가까이 다가가는 기술 역량을 구축하는 기업들의 차지가 될 것이다.
기업이 새로운 환경에서 살아남으려면 모든 사업 단위에서 기술을 전략적 사고의 핵심으로 받아들여야 한다.
이것이 기술을 전략적 문제의 관점에서 접근하는 디지털 비즈니스를 해야 할 이유이다.

- John Rossman : The Amazon Way, Richard Dobbs: No Ordinary Disruption -
				</pre>
				<hr>
				<input type = "button" value = "디지털비즈니스센터소개"  th:onClick="|location.href='@{/moveDigitalBusiness}'|"
					th:style="${activeIntroduceDigitalBusiness}? 'width: 250px; height: 50px;background-color: #031252; color: white' : 'width: 250px; height: 50px;background-color: white; color: #031252;  border-color: #031252'">
				<input type = "button" value = "동영상강의" th:onClick="|location.href='@{/moveVideoLecture}'|"
					th:style="${activeVideoLecture}? 'width: 250px; height: 50px;background-color: #031252; color: white' : 'width: 250px; height: 50px;background-color: white; color: #031252; border-color: #031252;'">
				<br>
				<br>
				</div>
				<pre style="white-space: pre-wrap;">
개요

 「디지털비즈니스지원센터」는 제 4차 산업혁명에 대응하여 한국 기업의 디지털 비즈니스 이행 전략을 발굴 기획하고, 이의 실천 및 사업화에 필요한 시스템 개발을 지원하기 위해 한국소프트웨어기술진흥협회가 운영하는 디지털 비즈니스 연구 및 보급 전문기구입니다.

  디지털 기업으로의 전환 (Digital Transformation)을 위한 디지털 비즈니스 구현전략과 이를 실천하는데 필요한 전사 차원의 소프트웨어 개발역량 및 시스템 구축 역량을 필요 기업에 맞춤형으로 서비스 및 지원해 드립니다

   사업 내용

●  Digital Transformation 핵심 개념의 이해와 실현 방법론 · 역량 구축에 관한 월례 세미나

●  디지털 비즈니스 전환 성공전략 CxO 특강

●  디지털 비즈니스 구현 방법론 및 분석/설계 교육

●  디지털 비즈니스 Agile 구현 및 개발 교육

●  디지털 비즈니스 개발 리더를 위한 아키텍트 분석/설계 교육

디지털 혁신을 위한 비즈니스 모델링
디지털 비즈니스의 데이터 설계
객체지향 프로그램의 디자인 패턴
디지털 비즈니스의 프로세스 설계
디지털 비즈니스의 사용사례 분석 및 구현
SOA와 마이크로서비스 설계 패턴과 방법론
●  디지털 비즈니스 역량의 핵심, Full Cycle, Full_stack 개발자 양성 교육

●  프로젝트 리더 · 상급 개발자를 위한 프리미엄 교육

●  빠른 디지털비즈니스 실현을 위한 쉬운 Low Code 개발 실습

●  SW엔지니어링 전문가와 함께 하는 10주 만에 디지털비즈니스 개발하기 실습



  Digital Transformation 핵심 개념의 이해와 실현 방법론 · 역량 구축에 관한 월례 세미나
  				</pre>
  				<input type = "button" value = "디지털비즈니스지원센터 세미나 다시보기" th:onClick="|location.href='@{/moveVideoLecture}'|"
  					style="width: 500px; height: 50px; border-radius: 25px; color: white; background-color: #031252"/>
  				<br><br><br>
  				<table style="text-align: center; width: 100%;" border="1">
  					<tr>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
디지털혁신의 실행을 위한 글로벌 일류 SW 역량 확보방안
2021.1.20.
글로벌 일류 SW개발자 양성,
기술리더로 성장하는 경력로드맵
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
신입사원 글로벌 SW역량개발 Off-JT/OJT 교육실행 전략
2021.2.23.
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
디지털비즈니스에서의 SW
아키텍처 발전동향과 수립전략
2021.4.27.
디지털 비즈니스에서의 마이크로서비스 아키텍처 설계와 적용,
3-Tier IoT 아키텍처 애플리케이션의 개발 프로세스와 기법들
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
성공적 디지털비즈니스를 위한 비즈니스모델링 및 SW요구분석
2021.6.15.
비지니스 모델링(Business Architecture),
소프트웨어 요구분석(Business Analysis)
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
AI/IoT활용 Digital Transformation 추진전략
2021.7.28.
디지털 비즈니스 애플리케이션의 개발 프로세스와 기법들,
AI와 IoT 기반의 디지털 비즈니스 애플리케이션의 개발 프로세스와 기법들
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
SW설계 역량 선진화 세미나
2021.9.8
데이터 모델과 사용사례에서
SW설계 도출,
도메인모델과 소스코드의
 설계 리팩토링
</pre></td>
  					</tr>
  					<tr>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
글로벌 일류 SW개발자가 되는 길
2021.9.29.
소프트웨어 산업의 이해와 일류 SW개발자의 필수 역량,
SW 분석설계 사례와 테스트 주도 개발(TDD), 리팩토링, SW설계원리
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
선진기업의 클라우드 도입전략
2021.10.19.
Public 클라우드 도입과 Private 클라우드 구축의
 전략과 방법,
Cloud - Native 애플리케이션 개발 전략과 방법
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
SaaS 사업의 선진 경영모델과 성공요건
2021.11.23.
Cloud-Native 애플리케이션의 개발 방법과 Multitenancy와 Self-Service의 구현방법,
SaaS 사업의 성공을 위한 경영모델과 SaaS 제품의 개발 공법
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
효과적인 5단계 SW인력 역량강화 추진방법
2022.1.25.
1. SW개발 활동 정의 및 직무/직급별 수행 활동 분배
2. SW개발 활동별 수행기법
3. SW개발 직무/직급별 수행할 기법의 훈련과정 확보
4. SW인력별 할달할 직무/직급 훈련 실시 및 직무/직급 능력 자격인증 심사
5. Sw인력별 SW개발 활동 실적 성과 측정
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
디지털 변혁을 위한 비즈니스
프로세스 설계 및 구현 방법
2022.2.22.
비즈니스 프로세스 모델 의 원리와 디지털 비즈니스에서의 사용사례,
BPMN 2.0을 활용한 비즈니스 프로세스 설계 구현 방법 및 툴
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
혁신적 디지털 비즈니스를 위한
데이터 엔지니어링 역량 강화 방안
2022.3.22.
Operational DB 구축을 위한 Relational DB 설계,
Relational DB 기반의 Data Warehouse 설계,
Big Data Analytics를 위한 NoSQL DB 설계
</pre></td>
  					</tr>
  					<tr>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
디지털 변혁 성공을 위한 사용
사례 분석/구현 역량 강화 방안
2022.4.26.
Use Case 분석, Use Case구현
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
클라우드 네이티브 컴퓨팅
 1-2-3 단계와 역량확보 방안
2022.5.24.
클라우드 네이티브 컴퓨팅
도입 로드맵 [1-2-3 단계],
1-2-3 단계 역량
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">
뉴노멀시대 디지털 트랜스포메이션을 위한 기업 아키텍처(EA) 설계
2022.7.26.
비즈니스 전략과 비즈니스
아키텍처, 애플리케이션, 데이터 및 IT 인프라 아키텍처
</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">

</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">

</pre></td>
<td style="width: 16%;"><pre style="white-space: pre-wrap;">

</pre></td>
  					</tr>
  				</table>
  				<br><br>
  				<h3>디지털 비즈니스 전환 성공전략 CxO 특강</h3>
  				<table border="1" style="text-align: center;">
  					<thead style="text-align: center;">
  						<tr>
<td style="width: 30%;background-color: #031252; color: white;"><pre style="white-space: pre-wrap;">
주제
</pre></td>
<td style="width: 70%;background-color: #031252; color: white;"><pre style="white-space: pre-wrap;">
내용
</pre></td>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
1. 4차 산업혁명 시대의
디지털 비즈니스 이해
</pre></td>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
디지털 비즈니스의 본질
한국의 디지털 변환 준비현황
IoT서비스 아키텍처와 구축방법
클라우드 서비스 아키텍처
</pre></td>
  						</tr>
  						<tr>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
2. 디지털 트랜스포메이션을 위한 기업 아키텍처 설계
</pre></td>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
기업 아키텍처의 중요성
디지털 변환을 위한 기업 경영전략
디지털 변환 기업아키텍처 (비즈니스, 어플리케이션, IT인프라 아키텍처 설계 및 사례)
</pre></td>
  						</tr><tr>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
3. 고객가치 창출을 위한 디지털 비즈니스 분석
</pre></td>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
비즈니스 아키텍처 설계를 위한 Design Thinking
Lean Startup과 애자일 비즈니스 분석
서비스 지향 아키텍처 구현을 위한 비즈니스 요구분석 방법
</pre></td>
  						</tr><tr>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
4. 디지털 비즈니스 Full Cycle/ Full Stack 개발과 프로젝트 관리
</pre></td>
<td style="width: 16%; vertical-align: middle;"><pre style="white-space: pre-wrap;">
도메인모델 기반의 Full-Stack SW요구스펙 명세 방법
서비스 분석ㆍ설계ㆍ구현 방법
DevOps와 BizDevOps 방법
Enterprise Agile Framework 기반의 프로젝트관리
</pre></td>
  						</tr>
  						
  					</tbody>
  				</table>

			</div>
		</div>
	</div>	
</div>
<!-- content end -->