<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<div id="container" class="clear">  
		    <div id="homepage" class="clear">
		    	<br>
				<button style="width: 250px;height: 50px;">디지털비즈니스센터 소개</button><button style="width: 250px;height: 50px;">동영상강의</button>
				<br><br>
				<table style="width: 100%; border:1px solid black;margin-left:auto;margin-right:auto; text-align: center;">
					<tr>
						<td style="width: 33%;">전체</td>
						<td style="width: 34%;">Serverless 컴퓨팅</td>
						<td style="width: 33%;">MSA의 숨은위험</td>				
					</tr>			
				</table>
				<br><br>
		    	<div class="fl_left">
					<span>카테고리</span> | <span>제목</span><br>
					<span>관리자</span> | <span>날짜</span> | <span>조회수</span>
					<hr>
					<pre>
여기는
내용이 들어갈
공 간 입 니 다
					</pre>					
				</div>
		    </div>
		</div>	
	</div>	
</div>
<!-- content end -->