<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4" style="text-align: center;">
		<div class="nav sub-menu   h-menu-type3 menu-horizontal row-cnt-3 row-cnt-mobile-3">
			<ul class="">
				<li class="depth-01    " data-code="m202302270ab1b7bfb56f9">
					<a href="/business-support"  class=" _fade_link   ">
						<span class="plain_name" data-hover="">디지털비즈니스센터 소개</span>
					</a>
				</li>
				<li class="depth-01  active   active-real   " data-code="m2023022779575e59bb18f">
					<a href="/111" data-url="111" data-has_child="N" data-is_folder_menu="N" class=" _fade_link   active   active-real ">
						<span class="plain_name" data-hover="">동영상강의</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- content end -->