<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">
<head>
<title>moveIntroduceOrganization</title>
</head>
<body id="top">
	<div layout:fragment="content">
		<div class="wrapper row4">
			<div style="text-align: center;">

				<nav style="padding-top: 20px; padding-bottom: 10px;">
					<h2>여러분의 소프트웨어 역량개발 파트너, KOSTA가 함께 합니다.</h2>
					<div>
						<p style="color: red; font-size: 18px">국내 유일의 SW역량 One-Stop
							서비스 기관</p>
					</div>
					<div>
						<p>구인채용 - 교육훈련 - 시험인증 - 역략진단평가</p>
					</div>
				</nav>
				<div>
					<header
						style="position: fixed; width: 100%; height: 50px; text-align: center;">
						<a href="javascript:window.scrollTo( 0, 550 );"
							style="font-size: 25px; padding: 10px">aaa</a> &nbsp <a
							href="javascript:window.scrollTo( 0, 1050 );"
							style="font-size: 25px; padding: 10px">bbb</a> &nbsp <a
							href="javascript:window.scrollTo( 0, 1650 );"
							style="font-size: 25px; padding: 10px">ccc</a> &nbsp <a
							href="javascript:window.scrollTo( 0, 2050 );"
							style="font-size: 25px; padding: 10px">ddd</a> &nbsp <a
							href="javascript:window.scrollTo( 0, 2350 );"
							style="font-size: 25px; padding: 10px">eee</a> &nbsp <a
							href="javascript:window.scrollTo( 0, 2550 );"
							style="font-size: 25px; padding: 10px">fff</a>
					</header>
				</div>

				<article>
					<div>
						<h1 style="text-align: left;">☆인삿말</h1>
						<div>
							<pre style="white-space: pre-wrap; border-style: solid;">
오늘날 세계경제는 소프트화, 스마트화를 무기로 하는 무한 경쟁 체제라 할 수 있습니다.
즉, 소프트웨어(Software) 역량을 키우지 않고는 치열한 글로벌 경쟁에서 생존하기 어렵습니다. 우리 산업이 세계시장에서 경쟁하기 위해서는 SW부분에서 우수한 인력을 양성
하고, 품질, 생산성, 프로젝트 성공률 등에서 글로벌 수준의 역량을 갖추어야 합니다.

이제 제 4차 산업혁명 시대를 맞아 우리 기업은 그로벌 SW역량을 확보하기 위한 'SW 인천상륙 작전'을 실현하여 소프트웨어 기업으로서 변모하여야 합니다.

이런 제 4차 산업혁명과 인더스트리 4.0의 성패는 수요 맞춤을 통해 고객의 고객까지를 만족시키는 SW플랫폼 및 핵심기술의 SW융합이 필수적이며 이를 위해서는 SW공학과 체계적인 재사용(SSPL : Software & System Product Line) 역량을 확보해야만 합니다.


이와 함께 포스트-코로나 뉴노멀 시대에 기업의 생존은 디지털 기업으로의 전환 여부에 달려 있으며, 이의 성공적 추진을 위한 핵심요소가 회사의 SW역량입니다.
이에 디지털 혁신의 성공에 필요한 글로벌 일류 수준의 SW역량을 확보할 수 있도록, SW인재 양성 및 관리 실천 방안의 수립과 실천이 필수적이라 하겠습니다.

한국소프트웨어기술진흥협회는 국내 최대의 SW기술 진흥 전문단체로서 SW 기술 고도화, SW 글로벌화, SW 인재 양성을 비전으로 회원사와 더불어 'SW 중심의 IT'를 구현하는 중추
기관으로서의 역할을 담당하고 있습니다.

이러한 일에 한국 소프트웨어기술진흥협회가 여러분과 함께 할 것입니다.
여러분의 지속적인 성원을 부탁드립니다.
감사합니다.
		</pre>
							<span>한국소프트웨어기술진흥협회 회장 이단형, 박준성</span>

						</div>
						<div style="padding-bottom: 40px"></div>
						<h1>비전</h1>
						<pre>
대한민국 소프트웨어 기술진흥 및 인력양성 대표기관으로서 소프트웨어기술 고도화로 한국 IT산업의 새로운 미래를 여는 비전을 실천하고 있습니다.
		</pre>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th><pre>
혁신*고도화
기술 진흥
        </pre></th>
									<th><pre>
인재양성
교육*훈련
        </pre></th>
									<th><pre>
역량평가
시험/인증*역량개발컨설팅
        </pre></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><pre>
>	SSPL 포럼운영
	선진 SW공학 기술의 도입*적용
	다품종대량 생산 패러다임 SSPL기술 보급 
        	</pre> <pre>
>	SW 기술*역량 표준의 개발*및 보급
	SSPL의 래퍼런스 모델, 가변성 표준 등
	SW 개발 방법론, SW 역량 로드맵 등     		 
        	</pre> <pre>
>	대한민국SW기술대상, SW아키텍트대상 운영
	SW 엔지니어링, 기술혁신 모법 기업/제품/인재 진흥 및 육성     		 
        	</pre> <pre>
>	해외 SW 기술 교류*협력
	ISO/IEC, OMG, The Open Group, SEMAT 과의 교류협력     		 
        	</pre> <pre>
>	SW전문가 커뮤니티 운영
	SSPL 포럼, IOT포럼, 비즈니스애널리스트(BA)포럼,
	한국SW아키텍트연합회 등     		 
        	</pre></td>
									<td><pre>
>	SW 채용예정자, 재직자 대상양성 및 직무향상 교육
	국가인적자원개발컨소시엄, 기업수요맟춤형훈련,
	산업계주도청년맞춤훈련, 국가기간전략산업직종훈련,
	일학습병행Off-JT/OJT훈련 등   		 
        	</pre> <pre>
>	SW인력 고용 및 채용지원
	SW인력채용회, 기업채용설명회, SW경진대회    		 
        	</pre> <pre>
>	SW인력양성 로드맵 개발
	SW엔지니어링 Methods 맵
	SW엔지니어링 Body of Knowledge 맵
	SW 직무 및 역량 로드맵     		 
        	</pre></td>
									<td><pre>
>	SW 직무 능력 시험 및 인증
	Junior SW개발자
	Senior SW개발자
	Associate 비즈니스분석자
	Professional 비즈니스분석자
	Associate SW/System 아키텍트
	Professional SW/System 아키텍트     		 
        	</pre> <pre>
>	SW 역량개발 컨설팅
	SW 역량개발 프로세스, 방법론 기반
	SW 역량관리(Software Talent Management)
	정보시스템 구축도메인 모델 기반   		 
        	</pre></td>
								</tr>
							</tbody>
						</table>
						<h1>연혁</h1>
						<table class="table table-bordered">
							<tr>
								<td>2020's</td>
								<td><pre>
2020
디지털비즈니스지원센터 개설
고용노동부 산업계주도 청년맞춤훈련 사업 기관 선정
    		</pre></td>
							</tr>
							<tr>
								<td>2010's</td>
								<td><pre>
2019
고용 노동부 기업수요맞춤형 훈련 사업 기관 선성

2018
대한민국을 바꾸는 프리미엄 Software 교육 'SW300' 시행
Global Software Academy 교육 실행

2017
SW 과정 교수위원회 개최
EDU 홈페이지 개편
SW 뉴리더 포럼 발족

2016
IoT & 디지털 경영포럼 창립
SW역량 및 품질간담회 발족

2015
일학습병행제 경기 지역 특구지원센터 지정
비즈니스애널리스트 포럼(BAPF) 창립

2014
일학습병행제 SC / 공동훈련센터 선정
산업계 주도 NCS 기반 신자격 정부-산업계 MOU 체결
NCS 컨설팅 사업 수행

2013
SEMAT KOREA 창립 총회 및 Essence
(OMG 방법론 수립 표준) 보급

2012
The Open Group과 MOU 체결 (Open CA 시행)

2011
SSPL(Software & System Product Line) 포럼 구성
SW아키텍트 자격인증(KCSA) 시행

2010
국가직무능력표준(NCS) 개발 참여
    		</pre></td>
							</tr>
							<tr>
								<td>2000's</td>
								<td><pre>
2009
고용노동부 교육훈련혁신센터 선정

2008~2007
고용노동부 국가인적자원개발 컨소시엄 사업 기관 설정
SW아키텍트 포럼 창립 (2008년 SW아키텍트연합회로 재발족)
SW개발자격 직무능력 평가시험(KCSE) 시행
국제 표준기구 OMG, IASA와 MOU 체결

2005
한국소프트웨어기술진흥협회(KOSTA)로 재창립

2004~2003
교육부 평생교육시설 지정 (2003)
SW 생산기술 발전계획 수립 (2003)
SW 분석설계 자격인증(KCSM) 시행 (2004)
    		</pre></td>
							</tr>
							<tr>
								<td>1990's</td>
								<td><pre>
1999.11
창립 한국소프트웨어컴포넌트 컨소시엄(KCSC)
(정보통신부 CBD(컴포넌트) 기술개발 산업)
    		</pre></td>
							</tr>
						</table>
						<h1>사업 및 활동</h1>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>기술진흥</th>
									<th>고용지원</th>
									<th>시험*인증</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><pre>
>	SSPL(SoftWare & System Product Line)
	산업계현장적용 * 표준화

>	대한민국SW기술대상, SW아키텍트대상

>	비즈니스애널리스트 포럼, IOT 포럼

>	디지털비즈니스지원센터 세미나
        	</pre></td>
									<td><pre>
>	SW 개발자 기업 고용 * 채용추천

>	기업 채용면접회, 채용설명회

>	SW 개발 경진대회
			
			
        	</pre></td>
									<td><pre>
>	Junior SW개발자, Senior SW개발자

>	Associate 비즈니스분석자,
	Professional 비즈니스분석자

>	Associate SW/System 아키텍트,
	Professional SW/System 아키텍트
        	
        	
        	</pre></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>교육*훈련</th>
									<th>컨설팅</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><pre>
>	SW 재직자 직무별 교육훈련

>	SW 채용예정자 취업교육 과정

>	일학습병행 신입사원 Off-JT/OJT 훈련

>	디지털비즈니스지원센터 프리미엄 과정

        	</pre></td>
									<td><pre>
>	SW 역량 진단

>	SW 역량 개발 프로세스 및 방법론

>	SW 역량개발 교육훈련 로드맵 설계

>	NCS(National Competency Standard) 컨설팅
        	
        	</pre></td>
								</tr>
							</tbody>
						</table>
						<h1>조직도</h1>

						<h1>오시는 길</h1>
						<p style="text-align: left;">
							<h1>분당교육장</h1>
							<img alt="" src="images/오시는길1.gif"> <br> 
							<span>경기도 성남시 분당구 성남대로 34 하나프라자 6층</span><br> <span>우편번호 13637</span>
						</p>
						<p style="text-align: right;">
							<h1>가산교육장</h1>
							<img alt="" src="images/오시는길1.gif"> <br> 
							<span>서울특별시 금천구 가산디지털1로 70 호서대벤처타워 4층/9층</span><br> <span>우편번호 08590</span>
						</p>
					</div>

				</article>
			</div>
		</div>
	</div>
</body>