<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<!-- <head>
    <title>메타태그 설정</title>
    <meta property="og:url" content="http://website.com">
    <meta property="og:title" content="타이틀">
    <meta property="og:type" content="website">
    <meta property="og:image" content="미리보기 섬네일 이미지 주소">
    <meta property="og:description" content="웹사이트를 소개글">
</head> -->

<head>
<title>kostaSympathy</title>
</head>


<div layout:fragment="content">
	<div class="wrapper row4">
		<div id="container" class="clear">
			<div style="text-align: center;">
				<a class="a-set a-hover" th:href="@{/moveServiceCenter}">알림마당</a> <a
					class="a-active a-side" th:href="@{/moveKostaSympathy}">KOSTA동정</a>
				<a class="a-set a-hover" th:href="@{/moveMembershipAdvertise}">회원사&middot;협약사
					홍보마당</a>
			</div>
			<br> <br>
			<br>
			<div class="wrap">
				<div class="fixed_img_col">
					<div style="padding: 10px;">
						<a href="#" th:href="@{/kostasympathyDetail}"> 
						<span class="thumb"> 
						<img src="images/servicecenter/클라우드개발사진.jpg"
								style="width: 300px; height: 240px; border: 1px solid" alt="">
						</span><br> <strong>[KOSTA]클라우드 기반 개발 역량 성숙수준 진단 모델</strong>
						</a>
						<p>2023-04-04</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>