<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>promotion</title>
</head>

<div layout:fragment="content">
  <div class="wrapper row4">
    <div id="container" class="clear"> 
      <div style="text-align: center;">
       <a class="a-set a-hover" th:href="@{/moveServiceCenter}">알림마당</a>
	   <a class="a-active a-side" th:href="@{/moveKostaSympathy}">KOSTA동정</a>
	   <a class="a-set a-hover" th:href="@{/moveMembershipAdvertise}">회원사&middot;협약사 홍보마당</a>
      </div>
      <br>
      <hr class="hr-set">
      <br>
      <div style="font-size: 20px; font-family: sans-serif; color: black;">
		KOSTA 동정
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>