<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<div id="container" class="clear">
			<div align="center">
				<a class="a-active" th:href="@{/moveServiceCenter}">알림마당</a> <a
					class="a-set a-hover a-side" th:href="@{/moveKostaSympathy}">KOSTA동정</a>
				<a class="a-set a-hover" th:href="@{/moveMembershipAdvertise}">회원사&middot;협약사
					홍보마당</a> <br>
				<br>
				<br>

				<table class="board">
					<colgroup>
						<col width="8%;" />
						<col width="66%;" />
						<col width="13%;" />
						<col width="13%;" />
					</colgroup>
					<thead>
						<tr class="board-th">
							<th>No</th>
							<th>제목</th>
							<th>작성시간</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr class="board-td">
							<td>01</td>
							<td style="text-align: left;"><a href="#"
								th:href="@{/servicecenterDetail}"> KOSTA 2023년도 SW재직자 교육과정
									목록</a></td>
							<td>2023-03-29</td>
							<td>6</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br> <br>
			<div style="text-align: center;">
			<form action="#" th:action="@{/noticeboardSearch}" method="get">
			<input type="text" id="keyword" name="검색"  placeholder="Search">
			<button type="submit" style="height: 26px;">검색</button>
				<i class="fas fa-search"></i>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- content end -->