<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{main}">
	  
<head>
<title>Education Time | Full Width</title>
</head>
<div layout:fragment="content">
  <div class="wrapper row4">
    <img alt="교육훈련배너" src="images/educationandtraining/교육훈련.PNG" style="width: 1900px;">
    <div id="container" class="clear"> 
      <div style="text-align: center;">
	      <h1 class="set">잘 훈련된 개발자는 동료보다 100배나 더 생산성이 높다 - Mark Zuckerburg, Facebook</h1>
	      <h1 class="set">이제 모든 기업은  SW인력으로 무장된 소프트웨어 기업이 되어야 한다 - Jeff Immelt, GE 회장</h1>
	      <br>
	      <h1 class="set" style="font-weight: bolder;">신입 및 인턴, SW개발자, 비즈니스 분석자, SW아키텍트, 시스템 아키텍트의 <span style="color: #942d33;">직무별 전사 프로그램</span>을 제공합니다.</h1>
	      <hr class="hr-set">
      <div style="text-align: left;">
        <div style="margin-left: 140px;">
      	  <img class="img-set" src="images/육각형.png">
          <h1 class="icon-2" style="font-weight: bold;">교육 바로가기</h1><br><br>
        </div>
      <div style="padding-left: 142px;">
        <a href="#" th:href="@{https://kostaswedu.co.kr/}"><img alt="asdasd" src="images/educationandtraining/취업자과정.PNG" style="margin-right: 200px;"></a>
        <a href="#" th:href="@{https://kosta.oopy.io/edu/worker}"><img alt="asdasd" src="images/educationandtraining/재직자과정.PNG"></a><br>
		<div style="margin-top: -7px">
		<img alt="asdasd" src="images/educationandtraining/취업자배너.PNG" style="margin-right: 200px; width: 386px;">
		<img alt="asdasd" src="images/educationandtraining/재직자배너.PNG" style="width: 386px;">
        </div>
      </div>
      </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
</div>
</html>