<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">

		<img alt="컨설팅배너" src="images/컨설팅배너.png" style="width: 1900px;">

		<div id="container" class="clear">
			<div
				style="font-size: 20px; font-family: sans-serif; color: black; text-align: center; padding-bottom: 20px; padding-top: 10px;">
				<span style="font-weight: bold;">국내에서 유일하게 제4차 산업혁명의 기업 핵심
					경쟁력인 다품종 대량맞춤 생산 (Masscustomization) 능력을 실현하는 SW플랫폼 개발의 현장적용을 자문해
					드립니다.<br> <br>
				</span>

			</div>
			<br>
			<hr>
			<br> <br> <br>

			<div class="clear">

				<div>
					<img class="img-set" src="images/육각형.png">
					<h1 class="icon" style="font-weight: bold;">소프트웨어 플랫폼 개발 엔지니어링
						- SSPL(Software &amp; System Product Line)의 현장적용 교육훈련 및 컨설팅</h1>
					<br> <br>
				</div>

				<div>
					<img class="img-set" src="images/화살표.png">
					<h3 class="icon">제4차 산업혁명, IoT의 핵심역량인 다품종 대량맞춤 생산을 위한 SW플랫폼
						개발을 실현 시켜드립니다.</h3>
					<br> <img class="img-set" src="images/화살표.png">
					<h3 class="icon">SSPL에 대한 정보&middot;자료 또는 PILOT개발 수행을 원하는 기업은
						연락 주시기 바랍니다.</h3>
				</div>

				<br> <br> <br>

				<div>
					<img class="img-set" src="images/육각형.png">
					<h1 class="icon" style="font-weight: bold;">SSPL(Software
						&amp; System Product Line Engineering)이란?</h1>
					<br> <br>
				</div>

				<div>
					<img class="img-set" src="images/화살표.png">
					<h3 class="icon">
						소프트웨어를 필요로 하는 모든 시스템 개발에서 공통적으로 활용하고 다양한 소프트웨어를 개발하는데 효과적인 패러다임으로서
						제품군에 대한 명확한 분석을 통한 포트폴리오 구성(SSPL Scoping) 및 요구 사항 분석, 공통적인
						요소(공통성)와 가변적인 요소(가변성)를 구별하여 자산화하고 플랫폼으로 체계화함으로써 시스템 및 소프트웨어 자산의
						체계적인 재사용 및 다양한 자동화 도구 활용을 가능케하여 제품과 서비스의 차별화/지능화, 개발기간 단축(짧은
						개발기간), 개발 비용 절감(적은 비용), 품질 향상 등의 목표를 달성하면서 고객맞춤의 대량생산을 가능케 하는 21C
						선진 생산방식임.<br> EU가 자동차, 항공기, 의료기기, 통신기기 등의 산업분야에서 글로벌 경쟁력을
						확보하는데 있어 핵심역할을 한 소프트웨어를 개발하는 데 적용한 기술로서 1990년대 초부터 EU의 핵심 SW RD과제로
						추진되어 오고 있으며 보쉬, 에어버스, 지멘스, 필립스, 탈레스, 노키아, 에릭슨, 보잉 등 100개 이상의 전세계
						주요기업이 SW경쟁력 확보기술로 발전시키면서 ISO를 중심으로 세계 표준화가 이루어지고 있음.
					</h3>
					<br> <br> <br> <img class="img-set"
						src="images/화살표.png">
					<h3 class="icon">
						1. SSPL 포럼 운영 <br> <br> · 한국소프트웨어기술진흥협회에서는 SSPL 기술에 대해
						정보를 제공, 보급하기 위해 지난 2011년 9월 CTO 및 기술임원으로 구성된 공동 스터디 그룹을 구성하여 총
						33회의 워크삽을 개최, 60개가 넘는 SSPL 주제에 대한 발표와 Q&A, 토론을 진행하여 그결과를 SSPL 이해와
						적용전략이라는 책자를 발간하였음. <br> · 현재는 SSPL을 도입하고자 하는 기업을 발굴하여 적용
						실천계획의 수립부터 실천내용에 대해 정기적으로 진행실적을 검토하고 단계별 추진계획을 공동으로 수립, 점검해가는 활동을
						수행 중
					</h3>
				</div>

				<br> <br> <br>

				<div>
					<img class="img-set" src="images/화살표.png">
					<h3 class="icon">
						2. SSPL 핵심 5개 영역 <br> <br>
					</h3>
				</div>

				<br> <br> <img class="img-set" src="images/sample.png">

				<div class="container">


					<table class="table-set">
						<colgroup>
							<col width="35%" />
							<col width="65%" />
						</colgroup>
						<thead>
							<tr>
								<th class="table-th">5개 영역</th>
								<th class="table-th">세부 영역</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-td">제품군 정의</td>
								<td class="table-td">· 제품군 범위결정(Scoping), 가치관리, SSPL로의 전이,
									제품군 관리, <br> 제품군 품질관리, 조직 차원에서의 측정 메트릭
								</td>
							</tr>
							<tr>
								<td class="table-td">제품군 플랫폼 개발</td>
								<td class="table-td">· 도메인 아키텍처 스타일, 도메인 아키텍처 description <br>
									· 가변성 모델링, 가변성 메커니즘, 바인딩을 위한 규칙 및 제약조건<br> · 도메인 V&V (도메인
									공학에서의 정적시험, Mock-up, 정형모델 등)<br> · 도메인 아키텍처 비용/이익 평가, 도메인
									아키텍처 트레이드오프 평가<br>
								</td>
							</tr>
							<tr>
								<td class="table-td">제품군 멤버제품개발</td>
								<td class="table-td">
								· 어플리케이션 아키텍처 도출, 아키텍처에서의 바인딩 메커니즘, <br>
									도메인 아키텍처와 어플리케이션에 특화된 아키텍처 구조와의 통합, 조정 <br> · 어플리케이션 V&V
									(어플리케이션 공학에서의 정적시험, 정형모델 등)<br></td>
							</tr>
							<tr>
								<td class="table-td">재사용 자산베이스 구축</td>
								<td class="table-td">· 공통/가변 자산 버전관리, 플랫폼 형상 관리, 제품 형상관리 <br>
									· 도메인 및 어플리케이션 공학에서 추상화 수준이 다른 추적성 <br>
								</td>
							</tr>
							<tr>
								<td class="table-td">제품 개량</td>
								<td class="table-td">· SSPL 심사 프로세스 모델, SSPL 프로세스 심사 프레임워크,
									Exemplar <br> SSPL 프로세스 심사 모델 <br> · SSPL 인증 모델, 인증
									가이드라인<br>
								</td>
							</tr>
						</tbody>
					</table>
				</div>



				<br> <br> <br>

				<div>
					<img class="img-set" src="images/화살표.png">
					<h3 class="icon">
						3. SSPL 인프라 기술구조 <br> <br>
					</h3>
				</div>
				<img class="img-set" src="images/sample.png"> <br>
				<h3 align="center">&lt; ※ISO/IEC 26550: Software and systems
					engineering - Reference model for product line engineering and
					management, 2013 &gt;</h3>
				<br>



				<div>
					<img class="img-set" src="images/화살표.png">
					<h3 class="icon">
						4. SSPL 원천 기술요소 <br> <br>
					</h3>
				</div>

				<div class="container">


					<table class="table-set">
						<colgroup>
							<col width="20%" />
							<col width="30%" />
							<col width="50%" />
						</colgroup>
						<thead>
							<tr>
								<th class="table-th">대분류</th>
								<th class="table-th">중분류</th>
								<th class="table-th">소분류</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
						</tbody>
					</table>

					<table class="table-set">
						<colgroup>
							<col width="20%" />
							<col width="30%" />
							<col width="50%" />
						</colgroup>
						<thead>
							<tr>
								<th class="table-th">대분류</th>
								<th class="table-th">중분류</th>
								<th class="table-th">소분류</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
							<tr>
								<td class="table-td"></td>
								<td class="table-td"></td>
								<td class="table-td"></td>
							</tr>
						</tbody>
					</table>

				</div>




				<div>
					<img class="img-set" src="images/화살표.png">
					<h3 class="icon">
						5. SSPL 소개책자 <br> <br>
					</h3>
				</div>

				<img class="img-set" src="images/sample.png">


				<h3>
					세계의 대표적인 SSPL관련 유럽 및 미국의 대표서적 4권과 SSPL 관련 1,000개의 논문 중 <br>
					엄선된 22개 주제에 대한 요약 정리문과 전문가 질의 응답 토의 내용 수록
				</h3>

				<h3>&lt;서적&gt;</h3>
				·Klaus Pohl, Gunter Bockle, and Frank van der Linden, Software
				Product Line Engineering, Springer, 2010 (약자‘PBL’) <br> ·Frank
				van der Linden, Klaus Schimid, and Eelco Rommes, Software Product
				Lines in Action, Springer, 2007 (약자‘LSR’) <br> ·Paul Clements
				and Linda Northrop, Software Product Lines – Practices and Patterns,
				Addison-Wesley, 2002 (약자‘CN’) <br> ·Timothy Simpson, Zahed
				Siddique, and Jianxin Jiao, Product Platform and Product Family
				Design – Methods & Applications, <br> Springer, 2006 (약자‘SSJ’ )
				<br> <br>

				<h3>&lt;논문&gt;</h3>
				·Experiences in Software Product Families, SPLC <br> ·1.1
				HSH06b, Marketed & Engineered Software Product Lines, SPLC <br>
				·1.2 STB04, PLA at Bosch Gasoline Systems, SPLC <br> ·1.2
				JDB07, Migration to Software Product Lines, SPLC <br> ·2.1
				MC08, Empirical Investigation of Software Reuse, ACM TSEM <br>
				·2.2 JKL06, Guide to Product Line Scoping, SPLC <br> ·2.2
				GMY06, Return-on-Investment for Product Line, SPLC <br> ·3.2
				Mat04, COPA, FAST, FORM, KobrA and QADA, ICSE <br> ·3.2 BFG01,
				Variability Issues in Software Product Lines, PFE <br> ·4.1
				BGL03, A Meta-model for Representing Variability, PFE <br> ·4.1
				SDN04, COVAMOF: A Framework for Variability, SPLC <br> ·4.2
				PYZ11, Evolution of Variability in a Software Product Line, IST <br>
				·5.1 CKC08, Integrating Component and Product Lines, ICSR <br>
				·5.1 Hun06, Asset Base for Product Derivation, SPLC <br> ·5.2
				PKG08, Automation and Flexibility in Product Derivation, SPLC <br>
				·5.2 GKK07, Test Strategies for a Software Product Line, SPLC <br>
				·6.1 BMK02, Institutionalizing a Product Line Culture, SPLC <br>
				·6.1 Bos02, Evolution in Software Product Lines, SPLC <br> ·6.2
				KMS00, Product Line in Small and Medium Companies, IEEE SW <br>
				·6.2 LBK04, Product Family Evaluation, SPLC <br> <br> <br>

			</div>

			<br> <br>

			<div>
				<img class="img-set" src="images/육각형.png">
				<h1 class="icon" style="font-weight: bold;">SSPL 활동</h1>
				<br> <br>
			</div>

			<div>
				<img class="img-set" src="images/화살표.png">
				<h3 class="icon">SSPL 수료식</h3>
				<br>
			</div>

			<img class="img-set" src="images/sample.png"> <br>
			<h3 align="center">&lt;SSPL 수료식&gt;</h3>

			<img class="img-set" src="images/sample.png"> <br>
			<h3 align="center">&lt;SSPL 워크샵 활동&gt;</h3>

			<div>
				<img class="img-set" src="images/육각형.png">
				<h1 class="icon" style="font-weight: bold;">SSPL 개요 소개 참고자료</h1>
				<br> <br>
			</div>

			<div>
				<img class="img-set" src="images/화살표.png">
				<h3 class="icon">
					SSPL 수행 전략 1 <br> · H/W및 OS의 종류에 관계없이 공통적으로 사용할 수 있는 제품기반의 SW
					플랫폼과 공통모듈 개발하고 OEM의 요구에 따라 변동모듈을 개발하는 SSPL 접근방식 적용 <br>
				</h3>
				<img class="img-set" src="images/sample.png"> <br> <br>
			</div>

			<div>
				<img class="img-set" src="images/화살표.png">
				<h3 class="icon">
					SSPL 수행 전략 2 <br> · 제품 패밀리의 모든 제품에서 재사용할 수 있는 도메인 산출물을 생산할 수
					있는 SSPL의 SW 개발 접근방법을 구축 <br>
				</h3>
				<img class="img-set" src="images/sample.png"> <br> <br>
			</div>

			<div>
				<img class="img-set" src="images/화살표.png">
				<h3 class="icon">
					SSPL 수행 전략 3 <br> · 제품 패밀리의 모든 제품에서 재사용할 수 있는 도메인 산출물을 생산할 수
					있는 SSPL의 SW 개발접근방법을 구축 <br>
				</h3>
				<img class="img-set" src="images/sample.png"> <br> <br>
			</div>

			<div>
				<img class="img-set" src="images/육각형.png">
				<h1 class="icon" style="font-weight: bold;">SSPL Bok</h1>
				<br> <br>
				<h3 class="icon">
					· SSPL 의 이론과 적용 지식(BoK: Body of Knowledge)을 단계적, 종합적으로 습득하여야 함<br>
				</h3>
				<img class="img-set" src="images/sample.png"> <br>
			</div>
			<br>
			<div>
				<img class="img-set" src="images/육각형.png">
				<h1 class="icon" style="font-weight: bold;">SSPL 도입 로드맵</h1>
				<br> <br>
				<h3 class="icon">
					· 프로토타입을 통한 기본 검증을 거쳐 단계별로 확대하는 SSPL 도입 로드맵을 적용 <br>
				</h3>
				<img class="img-set" src="images/sample.png"> <br>
			</div>

			<br>
			<div>
				<img class="img-set" src="images/육각형.png">
				<h1 class="icon" style="font-weight: bold;">문의처</h1>
				<br> <br>
			</div>

			<div>
				<img class="img-set" src="images/화살표.png">
				<h3 class="icon">한국SW기술진흥협회 기술기획정책팀 정석진 팀장 / sjjung@kosta.or.kr
					/ 031-606-9302</h3>
				<br>
			</div>

		</div>

	</div>
</div>
<!-- content end -->