<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		 <div id="container" class="clear">
		   <div align="center">
			  <div style="text-align: center !important;">
				<img src="images/코스타로고1.png" style="width: 413px; height: 92px;">
			  </div>
			  <br><br><br>
			  <div class="login-form">
				<form action="" th:action="@{/login}" method="post">
 					<input class="login-set" type="text" name="id" placeholder="아이디" required="required"><br>
 					<input class="login-set" type="password" style="margin-top: 0px;" name="password" placeholder="패스워드" required="required"><br><br>
 					<button class="login-set radius btn-hover" type="submit">로그인</button>
 				</form>
 				<br>
 				<div style="color: gray; font-size: 14px; font-weight: bolder;">
	 				<a href="" th:href="@{/moveRegisterChoice}">회원가입</a> 
	 				|
	 				<a href="" th:href="@{/moveFindIdForm}" >아이디 찾기</a> 
	 				|
	 				<a href="" th:href="@{/moveFindPasswordForm}">비밀번호 찾기</a>
 				</div>
			</div>
		</div>
	  </div>
	</div>
</div>
<!-- content end -->