<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>Education Time1</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<div align="center">

			<h1>Login</h1>
			<form th:action="@{/login}" method="post">
				<label for="username">Username:</label> <input type="text"
					id="username" name="username" /> <br /> <label for="password">Password:</label>
				<input type="password" id="password" name="password" /> <br />
				<button type="submit">Login</button>
			</form>

		</div>
	</div>
</div>
<!-- content end -->