<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main}">

<head>
<title>회원가입 선택</title>
</head>
<!-- content start -->
<div layout:fragment="content">
	<div class="wrapper row4">
		<div id="container" class="clear">
			<div style="text-align: center;">
				<img alt="" src="images/코스타로고1.png" style="width: 413px; height: 92px;">
				
				<div style="margin-top: 70px; margin-bottom: 100px;">
				  <div class="a-btn1">
				    <a class="a-btn-hover" th:href="@{/moveIndividualRegisterForm}">일반회원</a>
				  </div>
				  <div class="a-btn2" style="margin-top: 24.5px;">
				    <a class="a-btn-hover" th:href="@{/moveCompanyRegisterForm}">사업자회원</a>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content end -->